<style>

    .trainer_detail.image-box4 {

        width: 100%;
        /*height: 200px;*/
        overflow: hidden;
        margin-bottom: 20px;
    }

    .trainer_detail.image-box4 img {
        height: 250px !important;
        width: 100%;
    }

    .image-content-trainer {
        width: auto;
        height: 400px;
        background-size: cover;
        background-position: center;

    }

</style>
{% set trainer = getTrainer(module) %}
{% if  connected %}
    <a data-toggle="modal" href="#trainer_list" class="button-default pull-right button_admin ">Gérer cette section</a>
{% endif %}
<section class="teachers section-bg padding-120" id="formateur">
    <div class="container">
        <div class="section-header">
            <h3>Nos Formateurs</h3>

            {#<span><img src="http://alishafique.net/html/edulearn/images/hdg-01.png" alt=""></span>#}
        </div>
        <div class="row">
            {% if getTrainer(module) %}


            {% set count= getTrainer(module)|length %}
            {% if count ==1 %}

            {% for a,c in getTrainer(module) %}
            {% set info = jsonDecod(c.data) %}
            <div class="col-md-4 col-sm-4 col-md-offset-4 col-xs-12">
                <div class="teacher-item  ">

                    {% set path =  asset('uploads/image/')~qouiqui.user.id ~'/'~ qouiqui.id ~'/trainer/'~c.id~'.jpg' %}
                    {% if asset_exists(path) %}

                    <div class="teacher-image image-content-trainer"
                         style="background-image: url('{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/trainer/{{ c.id~'.jpg' }}')">

                    </div>
                    {% elseif not (asset_exists(path)) %}


                    {% if info.gender is defined and info.gender is not empty %}
                    {% if info.gender=='Male' %}
                            <div class="teacher-image image-content-trainer"
                                 style="background-image: url('{{ asset('module/centre_frm/images/homme.png') }}')">

                            </div>
                            {% elseif info.gender=='Female' %}
                                <div class="teacher-image image-content-trainer"
                                     style="background-image: url('{{ asset('module/centre_frm/images/femmes.png') }}')">

                                </div>
                            {% endif %}


                        {% endif %}
                    {% endif %}
                    <div class="teacher-content">
                        <h4><a href="#">{{ info.noms }}</a></h4>
                        <span> Professeur {{ info.spec }}</span>


                    </div>
                </div><!-- teacher item -->
            </div>
            {% endfor %}
        {% else %}
            <div class="carousel slide " data-ride="carousel" data-interval="3000" id="myCarousel2">
                <div class="carousel-inner" style="margin-bottom: 96px;">

                    {% for a,c in getTrainer(module) %}
                        {% set info = jsonDecod(c.data) %}

                        {% if loop.index==1 %}

                            <div class="item active">
                                <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12">

                                    <div class="item">
                                        <div class="teacher-item  ">

                                            {% set path =  asset('uploads/image/')~qouiqui.user.id ~'/'~ qouiqui.id ~'/trainer/'~c.id~'.jpg' %}
                                            {% if asset_exists(path) %}
                                                <div class="teacher-image image-content-trainer"
                                                     style="background-image: url('{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/trainer/{{ c.id~'.jpg' }}')">

                                                </div>
                                            {% else %}
                                                {% if info.gender is defined and info.gender is not empty %}

                                                    {% if info.gender=='Male' %}
                                                        <div class="teacher-image image-content-trainer"
                                                             style="background-image: url('{{ asset('module/centre_frm/images/homme.png') }}')">

                                                        </div>
                                                    {% elseif info.gender=='Female' %}

                                                        <div class="teacher-image image-content-trainer"
                                                             style="background-image: url('{{ asset('module/centre_frm/images/femmes.png') }}')">

                                                        </div>
                                                    {% endif %}


                                                {% endif %}
                                            {% endif %}
                                            <div class="teacher-content">
                                                <h4><a href="#">{{ info.noms }}</a></h4>
                                                <span> Professeur {{ info.spec }}</span>


                                            </div>
                                        </div><!-- teacher item -->
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {% if loop.index>1 %}
                            <div class="item">
                                <div class="col-md-4 col-md-offset-2 col-sm-6 col-xs-12">
                                    <div class="teacher-item  ">
                                        {% set path =  asset('uploads/image/')~qouiqui.user.id ~'/'~ qouiqui.id ~'/trainer/'~c.id~'.jpg' %}
                                        {% if asset_exists(path) %}
                                            <div class="teacher-image image-content-trainer"
                                                 style="background-image: url('{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/trainer/{{ c.id~'.jpg' }}')">

                                            </div>
                                        {% else %}
                                            {% if info.gender is defined and info.gender is not empty %}

                                                {% if info.gender=='Male' %}
                                                    <div class="teacher-image image-content-trainer"
                                                         style="background-image: url('{{ asset('module/centre_frm/images/homme.png') }}')">

                                                    </div>
                                                {% elseif info.gender=='Female' %}

                                                    <div class="teacher-image image-content-trainer"
                                                         style="background-image: url('{{ asset('module/centre_frm/images/femmes.png') }}')">

                                                    </div>
                                                {% endif %}


                                            {% endif %}
                                        {% endif %}
                                        <div class="teacher-content">
                                            <h4><a href="#">{{ info.noms }}</a></h4>
                                            <span> Professeur {{ info.spec }}</span>


                                        </div>
                                    </div><!-- teacher item -->
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}


                </div>
                <a class="left carousel-control" href="#myCarousel2" data-slide="prev"><i
                            class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#myCarousel2" data-slide="next"><i
                            class="glyphicon glyphicon-chevron-right"></i></a>
            </div>
            {% endif %}

            {% else %}

                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="teacher-item">
                        <div class="teacher-image">
                            <img src="{{ asset('module/centre_frm/images/teachers/teacher_01.jpg') }}"
                                 alt="teacher image" class="img-responsive">
                        </div>
                        <div class="teacher-content">
                            <h4><a href="teacher-profile.html">Robot Jhonson</a></h4>
                            <span>Math Teacher</span>
                            <ul class="teacher-share">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- teacher item -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="teacher-item">
                        <div class="teacher-image">
                            <img src=" {{ asset('module/centre_frm/images/teachers/teacher_02.jpg') }}"
                                 alt="teacher image" class="img-responsive">
                        </div>
                        <div class="teacher-content">
                            <h4><a href="teacher-profile.html">Janaton Doe</a></h4>
                            <span>English Teacher</span>
                            <ul class="teacher-share">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- teacher item -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="teacher-item">
                        <div class="teacher-image">
                            <img src=" {{ asset('module/centre_frm/images/teachers/teacher_03.jpg') }}"
                                 alt="teacher image" class="img-responsive">
                        </div>
                        <div class="teacher-content">
                            <h4><a href="teacher-profile.html">Alex Jhonson</a></h4>
                            <span>Art Teacher</span>
                            <ul class="teacher-share">
                                <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-vimeo" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- teacher item -->
                </div>
            {% endif %}
        </div><!-- row -->
    </div><!-- container -->
    <div class="eni">
        <div class="particle elem1 anim-delay1"></div>
        <div class="particle elem2 anim-delay5"></div>
        <div class="particle elem3 anim-delay3"></div>
        <div class="particle elem4 anim-delay8"></div>
        <div class="particle elem5 anim-delay9"></div>
        <div class="particle elem6 anim-delay2"></div>
        <div class="particle elem7 anim-delay4"></div>
        <div class="particle elem8 anim-delay3"></div>
        <div class="particle elem9 anim-delay10"></div>
        <div class="particle elem8 anim-delay11"></div>
        <div class="particle elem6 anim-delay12"></div>
        <div class="particle elem1 anim-delay14"></div>
        <div class="particle elem13 anim-delay16"></div>
        <div class="particle elem17 anim-delay18"></div>
        <div class="particle elem2 anim-delay6"></div>
        <div class="particle elem16 anim-delay9"></div>
        <div class="particle elem8 anim-delay3"></div>
        <div class="particle elem9 anim-delay10"></div>
        <div class="particle elem18 anim-delay11"></div>
        <div class="particle elem11 anim-delay12"></div>
        <div class="particle elem12 anim-delay14"></div>
        <div class="particle elem13 anim-delay16"></div>
        <div class="particle elem14 anim-delay18"></div>
        <div class="particle elem15 anim-delay6"></div>
        <div class="particle elem16 anim-delay9"></div>
        <div class="particle elem17 anim-delay7"></div>
        <div class="particle elem18 anim-delay6"></div>
        <div class="particle elem19 anim-delay3"></div>
    </div>

</section><!-- teacher -->

<div id="trainer_list" class="modal modal-trainer fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="pull-right margin-bott">

                    {#<a data-toggle="modal" href="#tallModal" class="btn btn-primary">Wide, Tall Content</a>#}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_trainer"
                    >Ajouter Nouveau Formateur
                    </button>
                </div>
                {#<button type="button" class="close" data-dismiss="modal">&times;</button>#}
                <h4 class="modal-title">Liste des Formateurs</h4>
            </div>

            <div class="modal-body">
                <div class="shop-cart padding-120">

                        <div class="shop-table table-responsive">
                            <table>
                                <thead>
                                <tr>
                                    <th colspan="1" class="title">Formateur</th>
                                    <th lass="start">Spécialité</th>
                                    {#<th lass="detail">Détail</th>#}


                                    <th class="edit-cart">Modifier</th>
                                    <th class="remove-cart">Supprimer</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if getTrainer(module) %}
                                    {% for a,c in getTrainer(module) %}
                                        {% set info = jsonDecod(c.data) %}

                                        <tr data-tr={{ c.id }}>
                                            {% set path =  asset('uploads/image/')~qouiqui.user.id ~'/'~ qouiqui.id ~'/trainer/'~c.id~'.jpg' %}

                                            <td colspan="1" class="product-thumbnail">
                                                {% if asset_exists(path) %}
                                                <div class="image">
                                                    <a href=#"><img
                                                                src="{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/trainer/{{ c.id~'.jpg' }}"
                                                                style=" max-width: 40%;"
                                                                alt="product image"
                                                                class="img-responsive"></a>
                                                </div>
                                                {% else %}
                                                    {% if info.gender is defined and info.gender is not empty %}
                                                        {% if info.gender=='Male' %}

                                                            <a href=#"><img
                                                                        src="{{ asset('module/centre_frm/images/homme.png') }}"
                                                                        style=" max-width: 40%;"
                                                                        alt="product image"
                                                                        class="img-responsive"></a>

                                                        {% elseif info.gender=='Female' %}


                                                            <a href=#"><img
                                                                        src="{{ asset('module/centre_frm/images/femmes.png') }}"
                                                                        style=" max-width: 40%;"
                                                                        alt="product image"
                                                                        class="img-responsive"></a>
                                                        {% endif %}


                                                    {% endif %}
                                                {% endif %}
                                                <div class="content">
                                                    <h4><a href="#">{{ info.noms }}</a></h4>
                                                </div>
                                            </td>
                                            <td class="start"><span>{{ info.spec }}</span></td>
                                            {#<td class="detail"><span>{{ info.detail }}</span></td>#}


                                            <td class="edite-cart"><a data-toggle="modal" data-target="#edit_trainer "
                                                                      href="#" class="modifier_trainer"
                                                                      data-train="{{ c.id }}"
                                                                      data-id="{{ qouiqui.id }}">

                                                    <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                                                </a>

                                            </td>
                                            <td class="remove-cart"><a data-toggle="modal"
                                                                       data-target="#confirm-delete-trainer" href="#"
                                                                       class="cf_suprim_trainer"
                                                                       data-id='{{ c.id }}'>
                                                    <span><i class="fa fa-times" aria-hidden="true"></i></span></a>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                        </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
            </div>
        </div>

    </div>
</div>


<div id="modal_trainer" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ajouter un Formateur</h4>
            </div>
            <div class="modal-body">
                <form id="ajout_trainers" method="POST" action="{{ path('module_centreformation_ajout_trainer') }}"
                      enctype="multipart/form-data">


                    <div class="row">
                        <input type="hidden" name="qq_id" value="{{ qouiqui.id }}" required>
                        <div class="col-sm-6 form-group">
                            <label>Nom de Formateur</label>
                            <input type="text" placeholder="Enter Nom de l'événement  ici.." class="form-control"
                                   name="noms">
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Spécialité</label>
                        <select class="form-control input-sm" name="spec" id="spc">

                            <option>Englais</option>
                            <option>Français</option>
                            <option> Java</option>
                            <option>Php</option>

                        </select>
                    </div>
                    <div class="form-group">

                        <div class="col-md-6">
                            <label class=" control-label">Choisissez le sex</label>
                            <label class="radio-inline" for="radios-0">
                                <input type="radio" name="gender" value="Male"/> Male
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input type="radio" name="gender" value="Female"/> Female
                            </label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-12"> Choisissez une photo</label>
                        <input autocomplete="off" class="form-control "
                               name="file" type="file" required="required"
                               placeholder="choisissez_image" data-items="8"/>
                    </div>


                </form>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary " data-target="modifier" data-selector="ajout_trainers">
                    Ajouter
                </button>
            </div>
        </div>

    </div>
</div>


<div id="edit_trainer" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modifier les informtion de l'informateur</h4>
            </div>
            <div class="modal-body">
                <form id="edit_trainers" method="POST"
                      action="{{ path('module_centreformation_modif_trainer',{'idqq':qouiqui.id}) }}"
                      enctype="multipart/form-data">
                    <input type="hidden" name="qq_id" value="{{ qouiqui.id }}" required>
                    <input id="idtrainer" type="hidden" name="eventID" value="" required>


                    <div class="row">
                        <input type="hidden" name="qq_id" value="{{ qouiqui.id }}" required>
                        <div class="col-sm-6 form-group">
                            <label>Nom de Formateur</label>
                            <input type="text" id="names" placeholder="Enter Nom de l'événement  ici.."
                                   class="form-control"
                                   name="noms">
                        </div>

                    </div>
                    <div class="form-group">
                        <label>Spécialité</label>
                        <select class="form-control input-sm" name="spec" id="spc">

                            <option>Englais</option>
                            <option>Français</option>
                            <option> Java</option>
                            <option>Php</option>

                        </select>
                    </div>

                    <div class="form-group">

                        <div class="col-md-6">
                            <label class=" control-label">Choisissez le sex</label>
                            <label class="radio-inline" for="radios-0">
                                <input id="male" type="radio" name="gender" value="Male"/> Male
                            </label>
                            <label class="radio-inline" for="radios-1">
                                <input id="female" type="radio" name="gender" value="Female"/> Female
                            </label>

                        </div>
                    </div>

                    {#<div class="form-group">#}
                    {#<label>Plus de détail</label>#}
                    {#<textarea id="details" placeholder="Enterer  le détail.." rows="3" class="form-control"#}
                    {#name="detail"></textarea>#}
                    {#</div>#}
                    <div class="form-group col-md-12">
                        <label> Choisissez une photo</label>
                        <input autocomplete="off" class="form-control "
                               name="file" type="file" required="required"
                               placeholder="choisissez_image" data-items="8"/>
                    </div>


                </form>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button type="submit" class="btn btn-primary " data-target="modifier" data-selector="edit_trainers">
                    Modifier
                </button>
            </div>
        </div>

    </div>
</div>


<div class="modal fade" id="confirm-delete-trainer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">


            <div class="modal-body">

                {#<form id="supp_event" method="POST" action="{{ path('module_spa_delate_event') }}">#}
                <input type="hidden" name="supprimer" value="" class="delate">
                <input type="hidden" name="id_qq" value="{{ qouiqui.id }}" class="">

                <p>Voulez vous supprimer ce evenement ?</p>
                <p class="debug-url"></p>
                {#</form>#}
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>


                <button type="submit" data-qq="{{ qouiqui.id }} " class="btn btn-danger supprime_trainer "
                        data-target="modifier"
                        data-selector="sup_trainer">
                    Supprimer
                </button>
            </div>
        </div>
    </div>
</div>


<style>

    .carousel-inner .active.left {
        left: -50%;
    }

    .carousel-inner .next {
        left: 50%;
    }

    .carousel-inner .prev {
        left: -50%;
    }

    .carousel-control.left, .carousel-control.right {
        background-image: none;
    }
</style>


