<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><head>
        <meta charset="utf-8">
        <!-- Title here -->
        <title>{{ qouiqui.firstName }}</title>
        <!-- Description, Keywords and Author -->
        <meta name="description" content="Your description">
        <meta name="keywords" content="Your,Keywords">
        <meta name="author" content="ResponsiveWebInc">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Styles -->
        <!-- Bootstrap CSS -->
        <link href="{{ asset('module/restaurant/cssz/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font awesome CSS -->
        <link href="{{ asset('module/restaurant/cssz/font-awesome.min.css') }}" rel="stylesheet">

        <!-- CSS
        ================================================ -->
        <!-- Owl Carousel -->
        <link rel="stylesheet" href="{{ asset('module/restaurant/cssz/owl.carousel.css') }}">

        <!-- Main Stylesheet -->
        <link rel="stylesheet" href="{{ asset('module/restaurant/cssz/animate.min.css') }}">

        <link rel="stylesheet" href="{{ asset('module/restaurant/cssz/main.css') }}">
        <!-- Responsive Stylesheet -->
        <link rel="stylesheet" href="{{ asset('module/restaurant/cssz/responsive.css') }}">
        <!-- Js -->

        <script src="{{ asset('module/restaurant/jsz/vendor/modernizr-2.6.2.min.js')}}"></script>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
        <script>window.jQuery || document.write('<script src="{{ asset('module/restaurant/jsz/vendor/jquery-1.10.2.min.js')}}"><\/script>')</script>
        <script src="{{ asset('module/restaurant/jsz/jquery.nav.js')}}">></script>
        <script src="{{ asset('module/restaurant/jsz/jquery.sticky.js')}}"></script>
            <script src="{{ asset('module/restaurant/jsz/bootstrap.min.js') }}"></script>        <script src="{{ asset('module/restaurant/jsz/plugins.js')}}"></script>
        <script src="{{ asset('module/restaurant/jsz/wow.min.js')}}"></script>
        <script src="{{ asset('module/restaurant/jsz/main.js')}}"></script>

        <style>
            .caption {

                margin-bottom:450px;
                margin-right: 10px;
                margin-left: 10px;
                width:100%;
                bottom: .3rem;
                position: absolute;
                background-color: none;

            }

            .thumbnail {
                border: 0 none;
                box-shadow: none;
                margin:10px;
                padding:0;
            }

            .caption h1{
                color: #f7f7f7;
                -webkit-font-smoothing: antialiased;
                text-align: center;       }
        </style>
    </head></title>
</head>
<body>

</body>
</html>