<div style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;color:#333333" bgcolor="#DEEBFE"
     marginheight="0" marginwidth="0">
    <table bgcolor="#DEEBFE" border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody>
        <tr>
            <td align="center" valign="top" width="100%" style="padding-top:20px">
                <table class="m_7323351954363749152myletudiantwrapper" align="center" bgcolor="#ffffff" border="0"
                       cellpadding="0" cellspacing="0" width="480">
                    <tbody>
                    <tr>
                        <td align="center" valign="top">
                            <table class="m_7323351954363749152myletudiantwrapper" align="center" border="0"
                                   cellpadding="0" cellspacing="0" width="480">
                                <tbody>
                                <tr>
                                    <td style="font-size:30px;line-height:30px" height="30">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0px" align="center">
                                        <table class="m_7323351954363749152myletudiantcontainer" align="center"
                                               border="0" cellpadding="0" cellspacing="0" width="420">
                                            <tbody>

                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="m_7323351954363749152myletudiantwrapper" align="center" border="0"
                                   cellpadding="0" cellspacing="0" width="480">
                                <tbody>
                                <tr>
                                    <td style="font-size:20px;line-height:20px" height="20">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0px" align="center">
                                        <table class="m_7323351954363749152myletudiantcontainer" align="center"
                                               border="0" cellpadding="0" cellspacing="0" width="420">
                                            <tbody>
                                            <tr>
                                                <td style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:30px;line-height:36px;font-weight:bold;color:#d1004c"
                                                    align="center">
                                                    <h1 style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:30px;line-height:36px;font-weight:bold;color:#d1004c;padding:0;margin:0">
                                                        </h1>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size:12px;line-height:12px" height="5">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="m_7323351954363749152myletudiantwrapper" align="center" bgcolor="#FFFFFF" border="0"
                       cellpadding="0" cellspacing="0" width="480">
                    <tbody>
                    <tr>
                        <td style="font-size:40px;line-height:40px" height="40">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="padding:0 20px" align="center">
                            <table class="m_7323351954363749152myletudiantcontainer" border="0" cellpadding="0"
                                   cellspacing="0" width="420">
                                <tbody>
                                <tr>
                                    <td align="left" valign="top"
                                        style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:18px;line-height:26px;color:#333333;font-weight:normal">
                                        <p style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:18px;line-height:26px;color:#333333;font-weight:normal;padding:0;margin:0">
                                        </p>
                                        <p>Bonjour,madame, monsieur
                                            <br><br>
                                            {% if frm is defined and frm is not empty %}
                                            Je souhaite faire une réservation pour la formation:{{ frm }}
                                            {% else %}
                                                Je souhaite faire une réservation pour l'évenement:{{ events}}
                                            {% endif %}
                                            <br><br>
                                            Plus d'information sur le condidat :<br>
                                        </p>
                                        <ul>
                                            <li> Niveau d'étude :{{ niveau_etude }}</li>
                                            <li>Email: {{ mail }}</li>
                                            <li>Tel :{{ tel }}</li>
                                            <li>Adresse:   {{ addresse }}</li>
                                            {#<li>Age: {{ age }}</li>#}
                                        </ul>
                                        <br><br>

                                        <p></p>
                                        <p></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top"
                                        style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:18px;line-height:26px;color:#333333;font-weight:normal;padding-top:20px">
                                        L'équipe de Web Master Medias
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:20px;line-height:20px" height="30">&nbsp;</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="font-size:40px;line-height:40px" height="40">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
                <table class="m_7323351954363749152myletudiantwrapper" align="center" bgcolor="#ffffff" border="0"
                       cellpadding="0" cellspacing="0" width="480">
                    <tbody>
                    <tr>
                        <td style="font-size:20px;line-height:20px" height="20">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="padding:0 20px" align="center">
                            <table class="m_7323351954363749152myletudiantcontainer" border="0" cellpadding="0"
                                   cellspacing="0" width="420">
                                <tbody>
                                <tr>
                                    <td class="m_7323351954363749152mobile"
                                        style="font-family:'Roboto',Georgia,Verdana,Helvetica,Arial,Times,sans-serif;font-size:12px;line-height:18px;color:#666666"
                                        align="center">
                                        <table height="62" align="center" border="0" cellpadding="0" cellspacing="0"
                                               width="250">
                                            <tbody>
                                            <tr>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding:0 20px" height="20" align="center">&nbsp;</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>