<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Reservation</title>
</head>
    <body>
        <h3>nom: {{ name }}</h3>
        <h3>tel:{{ tel }}</h3>
        <h3>email :{{ email }}</h3>
        <h3>adresse : {{ adresse }}</h3>
        <h3>remarque: {{ remarque }}</h3>
        <h3>offre : {{ offre.nom }} , {{ offre.prix }}DT</h3>
    </body>
</html>
