{#<section id="section-annonces" class="property-details padding">#}
    {#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-xs-12 bottom40">#}
                {#<h2 class="text-uppercase">Nos <span class="color_red">annonces</span></h2>#}
                {#<div class="line_1"></div>#}
                {#<div class="line_2"></div>#}
                {#<div class="line_3"></div>#}
                {#<p class="margin-t-20">Mauris accumsan eros eget libero posuere vulputate. Etiam elit elit, elementum sed varius at, adipiscing#}
                    {#<br>vitae est. Sed nec felis pellentesque, lacinia dui sed, ultricies sapien.#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        {#<div class="col-md-12">#}
            {#<div class="row">#}
                {#<div id="property-2-slider" class="owl-carousel">#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-1.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Sale</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$8,600 Per Month</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-2.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Sale</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$83,600,200</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-3.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Rent</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$8,600 Per Month</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-1.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Rent</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$8,600 Per Month</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-2.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Sale</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$8,60020</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="item">#}
                        {#<div class="property_item bottom40">#}
                            {#<div class="image">#}
                                {#<img src="{{ asset('tpl/fiche/images/property-listing-3.jpg') }}" alt="listin" class="img-responsive">#}
                                {#<div class="property_meta">#}
                                    {#<span><i class="fa fa-object-group"></i>530 sq ft </span>#}
                                    {#<span><i class="fa fa-bed"></i>2</span>#}
                                    {#<span><i class="fa fa-bath"></i>1 Bathroom</span>#}
                                {#</div>#}
                                {#<div class="price"><span class="tag">For Rent</span></div>#}
                                {#<div class="overlay">#}
                                    {#<div class="centered"><a class="link_arrow white_border" href="property_details_1.html">View Detail</a></div>#}
                                {#</div>#}
                            {#</div>#}
                            {#<div class="proerty_content">#}
                                {#<div class="proerty_text">#}
                                    {#<h3><a href="property_details_1.html">House in New York City</a></h3>#}
                                    {#<span class="bottom10">Merrick Way, Miami, USA</span>#}
                                    {#<p><strong>$8,600 Per Month</strong></p>#}
                                {#</div>#}
                                {#<div class="favroute clearfix">#}
                                    {#<p class="pull-left"><i class="icon-calendar2"></i> 3 Days ago</p>#}
                                    {#<ul class="pull-right">#}
                                        {#<li><a href="#."><i class="icon-video"></i></a></li>#}
                                        {#<li><a href="#."><i class="icon-like"></i></a></li>#}
                                    {#</ul>#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="particle elem1 anim-delay1"></div>#}
    {#<div class="particle elem2 anim-delay5"></div>#}
    {#<div class="particle elem3 anim-delay3"></div>#}
    {#<div class="particle elem4 anim-delay8"></div>#}
    {#<div class="particle elem5 anim-delay9"></div>#}
    {#<div class="particle elem6 anim-delay2"></div>#}
    {#<div class="particle elem7 anim-delay4"></div>#}
    {#<div class="particle elem8 anim-delay3"></div>#}
    {#<div class="particle elem9 anim-delay10"></div>#}
    {#<div class="particle elem8 anim-delay11"></div>#}
    {#<div class="particle elem6 anim-delay12"></div>#}
    {#<div class="particle elem1 anim-delay14"></div>#}
    {#<div class="particle elem13 anim-delay16"></div>#}
    {#<div class="particle elem17 anim-delay18"></div>#}
    {#<div class="particle elem2 anim-delay6"></div>#}
    {#<div class="particle elem16 anim-delay9"></div>#}
    {#<div class="particle elem8 anim-delay3"></div>#}
    {#<div class="particle elem9 anim-delay10"></div>#}
    {#<div class="particle elem18 anim-delay11"></div>#}
    {#<div class="particle elem11 anim-delay12"></div>#}
    {#<div class="particle elem12 anim-delay14"></div>#}
    {#<div class="particle elem13 anim-delay16"></div>#}
    {#<div class="particle elem14 anim-delay18"></div>#}
    {#<div class="particle elem15 anim-delay6"></div>#}
    {#<div class="particle elem16 anim-delay9"></div>#}
    {#<div class="particle elem17 anim-delay7"></div>#}
    {#<div class="particle elem18 anim-delay6"></div>#}
    {#<div class="particle elem19 anim-delay3"></div>#}
{#</section>#}