{% extends 'base.html.twig' %}

{% block body %}
    <h1>Spas list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for spa in spas %}
            <tr>
                <td><a href="{{ path('spa_show', { 'id': spa.id }) }}">{{ spa.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('spa_show', { 'id': spa.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('spa_edit', { 'id': spa.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('spa_new') }}">Create a new spa</a>
        </li>
    </ul>
{% endblock %}
