<tr>
    <th>
        Référence
    </th>
    <th>
        Nom
    </th>
    <th>
        Description
    </th>
    <th>
        Date de création
    </th>
    <th>
        Action
    </th>

</tr>
{% for module in moduls %}
    {% set listImages= browseAutomobileOfferImage(quoiqui.user.id, quoiqui.id , module.id) %}
    {% set images ="" %}
    {% set iImage=0 %}
    {% if listImages != false %}
        {% for image in listImages %}

            {% set images=images~image %}
            {% if iImage != (listImages|length)-1 %}


                {% set images=images~"," %}
            {% endif %}
            {% set iImage=iImage+1 %}
        {% endfor %}
    {% endif %}
    <tr>
        <td>
            {{ module.reference }}
        </td>
        <td>
            {{ module.name }}
        </td>
        <td>
            {{ module.description }}
        </td>
        <td>
            {{ module.dateCreation|date("m/d/Y") }}
        </td>
        <td><a class="btn btn-danger" href="{{ path('delete-project',{"id":module.id}) }}">Supprimer</a>

            <a href="#" class="btn btn-warning  btn-main form-update-project" data-toggle="modal" data-target="#update-project" data-project='{"reference":"{{ module.reference }}","name":"{{ module.name }}","description":"{{ module.description }}","dateCreation":"{{ module.dateCreation|date("m/d/Y") }}","id":"{{ module.id }}","client":"{{ module.client }}","adress":"{{ module.adress }}","surface":"{{ module.surface }}"}'
               data-link='{{ path('update_project',{"id":module.id}) }}' data-images='{{ images }}'> <span>Modifier</span></a>
        </td>
    </tr>

{% endfor %}

