{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modecommerce</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ modECommerce.id }}</td>
            </tr>
            <tr>
                <th>Section</th>
                <td>{{ modECommerce.section }}</td>
            </tr>
            <tr>
                <th>Data</th>
                <td>{{ modECommerce.data }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{% if modECommerce.status %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Datecreate</th>
                <td>{% if modECommerce.datecreate %}{{ modECommerce.datecreate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('modecommerce_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('modecommerce_edit', { 'id': modECommerce.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
