{% extends 'base.html.twig' %}

{% block body %}

    <h1>Qville</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ qville.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('qville_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('qville_edit', { 'id': qville.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
