    {% extends 'front/layout_front.html.twig' %}

{% block body %}

    <body>
    {#{{ dump(qouiqui) }}#}
    <div id="loader">
        <div class="book">
            <div class="book__page"></div>
            <div class="book__page"></div>
            <div class="book__page"></div>
        </div>
    </div>

    <!-- start header-->
    <div id="header">
        <div class="container">
            <div class="row">

                <div class="col-sm-7">
                    <div id="left-header">
                        <h1>For more info call: <span>+0432 987 65432</span> <br>write on email: <a href="#">directin@mail.com</a>
                        </h1>
                    </div>
                </div>
                <div class="col-sm-5 text-right">
                    <div id="right-header">
                        <h1>Discover New City</h1>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header-->

    <!-- start logo section-->
    <div id="logo-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-xs-7">
                    <div id="logo">
                        <a href="index.html"><img src="{{ asset('asset-front/images/logo.png') }}" alt="logo"></a>
                    </div>
                </div>
                <div class="col-sm-9 text-right">
                    <nav class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#thrift-1"
                                    aria-expanded="false">
                                <span class="sr-only">Toggle Navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="thrift-1">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false"></a>
                            <div id="icons-list">
                                <a href="categories.html"><i class="fa fa-th"></i>Browse Categories </a>
                                <a href="add-listings.html"><i class="fa fa-pencil-square-o"></i>Submit Listings </a>
                                <a href="contact.html"><i class="fa fa-map-o"></i>contact us </a>
                            </div>
                        </div><!-- /.navbar-collapse -->
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- end logo section-->



    <!--start apartment-->
    <div id="apartment">
        <div class="container">
            <div class="row">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12">
                            {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <input type="submit" value="Create" />
                            {{ form_end(form) }}
                            <div id="accordion" class="checkout">
                                <div class="panel checkout-step">
                                    <div> <span class="checkout-step-number">1</span>
                                        <h4 class="checkout-step-title"> <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" > Phone Number Verification</a></h4>
                                    </div>
                                    <div id="collapseOne" class="collapse in">
                                        <div class="checkout-step-body">
                                            <p>We need your phone number so that we can update you about your order.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <div class="checkout-login">
                                                        <form>
                                                            <div class="login-phone">
                                                                <input type="text" class="form-control" placeholder="Phone Number">
                                                            </div>
                                                            <a class="btn btn-default " role="button" data-toggle="collapse" href="#otp-verifaction" >Next</a>
                                                            <!-- add class disabled to inactive button -->
                                                        </form>
                                                    </div>
                                                    <!-- /input-group -->
                                                </div>
                                                <!-- /.col-lg-6 -->
                                            </div>
                                            <div class="collapse" id="otp-verifaction">
                                                <div class="otp-verifaction">
                                                    <div class="row">
                                                        <div class="col-lg-8">
                                                            <div class="row">
                                                                <div class="form-group">
                                                                    <label class="col-md-12 control-label sr-only" for="Phone">Phone</label>
                                                                    <div class="col-md-3">
                                                                        <input id="number" name="number" type="text" placeholder="0" class="form-control input-md" required="">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input id="number" name="number" type="text" placeholder="0" class="form-control input-md" required="">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        <input id="number" name="number" type="text" placeholder="0" class="form-control input-md" required="">
                                                                    </div>
                                                                    <div class="col-md-3 ">
                                                                        <input id="number" name="number" type="text" placeholder="0" class="form-control input-md" required="">
                                                                    </div>
                                                                </div>
                                                                <!-- Button -->
                                                                <div class="form-group">
                                                                    <label class="control-label sr-only" for="next">next</label>
                                                                    <div class="col-md-12">
                                                                        <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Next</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel checkout-step">
                                    <div role="tab" id="headingTwo"> <span class="checkout-step-number">2</span>
                                        <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" > Delivery Address </a> </h4>
                                    </div>
                                    <div id="collapseTwo" class="panel-collapse collapse">
                                        <div class="checkout-step-body">
                                            <div class="checout-address-step">
                                                <div class="row">
                                                    <form class="">
                                                        <!-- Multiple Radios (inline) -->
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label" for="address"></label>
                                                            <div class="col-md-12 ">
                                                                <label class="radio-inline" for="address-0">
                                                                    <input type="radio" name="address" id="address-0" value="Home" checked="checked"> Home </label>
                                                                <label class="radio-inline" for="address-1">
                                                                    <input type="radio" name="address" id="address-1" value="Office"> Office </label>
                                                                <label class="radio-inline" for="address-2">
                                                                    <input type="radio" name="address" id="address-2" value="Other"> Other </label>
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="control-label" for="name">Name</label>
                                                                <input id="name" name="name" type="text" placeholder="Name" class="form-control input-md" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label" for="flat">Flat / House / Office No.</label>
                                                            <div class="col-md-12">
                                                                <input id="flat" name="flat" type="text" placeholder="address" class="form-control input-md" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label" for="street">Street / Society / Office Name</label>
                                                            <div class="col-md-12">
                                                                <input id="street" name="street" type="text" placeholder="Street Address" class="form-control input-md">
                                                            </div>
                                                        </div>
                                                        <!-- Text input-->
                                                        <div class="form-group">
                                                            <label class="col-md-12 control-label" for="Locality">Locality</label>
                                                            <div class="col-md-12">
                                                                <input id="Locality" name="Locality" type="text" placeholder="Ahmedabad" class="form-control input-md" required="">
                                                            </div>
                                                        </div>
                                                        <!-- Button -->
                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"> Next </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel checkout-step">
                                    <div role="tab" id="headingThree"> <span class="checkout-step-number">3</span>
                                        <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"  > Time & Date </a> </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="checkout-step-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label class="col-md-12 control-label" for="time">Time</label>
                                                    <div class="col-md-12">
                                                        <div class="radio">
                                                            <label for="time-0">
                                                                <input type="radio" name="time" id="time-0" value="8:00 - 9:00" checked="checked"> 8:00 - 9:00 </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="time-1">
                                                                <input type="radio" name="time" id="time-1" value="10:00 - 11:00"> 10:00 - 11:00 </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="time-2">
                                                                <input type="radio" name="time" id="time-2" value="12:00 - 1:00"> 12:00 - 1:00 </label>
                                                        </div>
                                                        <div class="radio">
                                                            <label for="time-3">
                                                                <input type="radio" name="time" id="time-3" value="1:00 - 2:00"> 1:00 - 2:00 </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <a class="collapsed btn btn-default" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"> Next </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel checkout-step">
                                    <div role="tab" id="headingFour"> <span class="checkout-step-number">4</span>
                                        <h4 class="checkout-step-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"  > Payment </a> </h4>
                                    </div>
                                    <div id="collapseFour" class="panel-collapse collapse">
                                        <div class="checkout-step-body">
                                            Payment Mode
                                            <a href="#" class="btn btn-default">Proccess to payment</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <style>
                .checkout-wrapper{padding-top: 40px; padding-bottom:40px; background-color: #fafbfa;}
                .checkout{    background-color: #fff;
                    border:1px solid #eaefe9;

                    font-size: 14px;}
                .panel{margin-bottom: 0px;}
                .checkout-step {

                    border-top: 1px solid #f2f2f2;
                    color: #666;
                    font-size: 14px;
                    padding: 30px;
                    position: relative;
                }

                .checkout-step-number {
                    border-radius: 50%;
                    border: 1px solid #666;
                    display: inline-block;
                    font-size: 12px;
                    height: 32px;
                    margin-right: 26px;
                    padding: 6px;
                    text-align: center;
                    width: 32px;
                }
                .checkout-step-title{ font-size: 18px;
                    font-weight: 500;
                    vertical-align: middle;display: inline-block; margin: 0px;
                }

                .checout-address-step{}
                .checout-address-step .form-group{margin-bottom: 18px;display: inline-block;
                    width: 100%;}

                .checkout-step-body{padding-left: 60px; padding-top: 30px;}

                .checkout-step-active{display: block;}
                .checkout-step-disabled{display: none;}

                .checkout-login{}
                .login-phone{display: inline-block;}
                .login-phone:after {
                    content: '+91 - ';
                    font-size: 14px;
                    left: 36px;
                }
                .login-phone:before {
                    content: "";
                    font-style: normal;
                    color: #333;
                    font-size: 18px;
                    left: 12px;
                    display: inline-block;
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                }
                .login-phone:after, .login-phone:before {
                    position: absolute;
                    top: 50%;
                    -webkit-transform: translateY(-50%);
                    transform: translateY(-50%);
                }
                .login-phone .form-control {
                    padding-left: 68px;
                    font-size: 14px;

                }
                .checkout-login .btn{height: 42px;     line-height: 1.8;}

                .otp-verifaction{margin-top: 30px;}
                .checkout-sidebar{background-color: #fff;
                    border:1px solid #eaefe9; padding: 30px; margin-bottom: 30px;}
                .checkout-sidebar-merchant-box{background-color: #fff;
                    border:1px solid #eaefe9; margin-bottom: 30px;}
                .checkout-total{border-bottom: 1px solid #eaefe9; padding-bottom: 10px;margin-bottom: 10px; }
                .checkout-invoice{display: inline-block;
                    width: 100%;}
                .checout-invoice-title{    float: left; color: #30322f;}
                .checout-invoice-price{    float: right; color: #30322f;}
                .checkout-charges{display: inline-block;
                    width: 100%;}
                .checout-charges-title{float: left; }
                .checout-charges-price{float: right;}
                .charges-free{color: #43b02a; font-weight: 600;}
                .checkout-payable{display: inline-block;
                    width: 100%; color: #333;}
                .checkout-payable-title{float: left; }
                .checkout-payable-price{float: right;}

                .checkout-cart-merchant-box{ padding: 20px;display: inline-block;width: 100%; border-bottom: 1px solid #eaefe9;
                    padding-bottom: 20px; }
                .checkout-cart-merchant-name{color: #30322f; float: left;}
                .checkout-cart-merchant-item{ float: right; color: #30322f; }
                .checkout-cart-products{}

                .checkout-cart-products .checkout-charges{ padding: 10px 20px;
                    color: #333;}
                .checkout-cart-item{ border-bottom: 1px solid #eaefe9;
                    box-sizing: border-box;
                    display: table;
                    font-size: 12px;
                    padding: 22px 20px;
                    width: 100%;}
                .checkout-item-list{}
                .checkout-item-count{ float: left; }
                .checkout-item-img{width: 60px; float: left;}
                .checkout-item-name-box{ float: left; }
                .checkout-item-title{ color: #30322f; font-size: 14px;  }
                .checkout-item-unit{  }
                .checkout-item-price{float: right;color: #30322f; font-size: 14px; font-weight: 600;}


                .checkout-viewmore-btn{padding: 10px; text-align: center;}

                .header-checkout-item{text-align: right; padding-top: 20px;}
                .checkout-promise-item {
                    background-repeat: no-repeat;
                    background-size: 14px;
                    display: inline-block;
                    margin-left: 20px;
                    padding-left: 24px;
                    color: #30322f;
                }
                .checkout-promise-item i{padding-right: 10px;color: #43b02a;}
            </style>
        </div>
    </div>
    <!-- end apartment-->

    <!-- start reviews section-->
    <div id="reviews-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div id="reviews">
                        <h1>reviews</h1>
                        <hr>
                    </div>
                    <div class="reviews-section">
                        <div class="col-sm-2 col-xs-2 nopadding">
                            <div class="reviews-section-image">
                                <img src="{{ asset('asset-front/images/review-1.png') }}" alt="review 1">
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <div class="reviews-section-text">
                                <h1><a href="#">Alex Hook</a></h1>
                                <h4>May 18, 2016</h4>
                                <p>Sed lobortis ex nec arcu volutpat, ut varius risus fringilla. Nullam malesuada
                                    vestibulum efficitur. <a href="#"><i class="fa fa-reply"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="reviews-section">
                        <div class="col-sm-2 col-xs-2 nopadding">
                            <div class="reviews-section-image">
                                <img src="{{ asset('asset-front/images/review-2.png') }}" alt="review 2">
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <div class="reviews-section-text">
                                <h1><a href="#">Jassica David</a></h1>
                                <h4>May 18, 2016</h4>
                                <p>Sed lobortis ex nec arcu volutpat, ut varius risus fringilla. Nullam malesuada
                                    vestibulum efficitur. <a href="#"><i class="fa fa-reply"></i></a></p>
                            </div>
                        </div>
                    </div>
                    <div class="reviews-section-new">
                        <div class="col-sm-offset-1 col-sm-2 col-xs-offset-1 col-xs-2 nopadding">
                            <div class="reviews-section-image">
                                <img src="{{ asset('asset-front/images/review-1.png') }}" alt="review 1">
                            </div>
                        </div>
                        <div class="col-sm-9 col-xs-8">
                            <div class="reviews-section-text">
                                <h1><a href="#">Alex Hook</a></h1>
                                <h4>May 18, 2016</h4>
                                <p>Sed lobortis ex nec arcu volutpat, ut varius risus fringilla. Nullam malesuada
                                    vestibulum efficitur. <a href="#"><i class="fa fa-reply"></i></a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div id="write-review">
                        <h1>write a review</h1>
                        <hr>
                    </div>
                    <div id="review-form">
                        <div class="expMessage"></div>
                        <form class="review-form">
                            <div class="form-group">
                                <input class="form-control" type="text" id="full-name" name="formInput[name]"
                                       placeholder="Full Name" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="email" id="email" name="formInput[email]"
                                       placeholder="Email" required>
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="text" id="subject" name="formInput[subject]"
                                       placeholder="Subject" required>
                            </div>
                            <div class="form-group">
                                <textarea name="formInput[message]" id="message" class="form-control" rows="6"
                                          placeholder="Write Your Message here...."></textarea>
                            </div>
                            <div id="review-button">
                                <button type="submit" id="review-submit">Send Message</button>
                                <input type="hidden" name="action" value="submitform">
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end reviews section-->

    <!-- start prefooter-->
    <div id="prefooter">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 wow">
                    <div class="prefooter-heading">
                        <h1>recent listings</h1>
                    </div>
                    <div id="prefooter-list-image">
                        <div class="prefooter-detail">
                            <div class="col-sm-4 col-xs-4 nopadding-left">
                                <div class="prefooter-detail-image">
                                    <img src="{{ asset('asset-front/images/prefooter-img1.png') }}"
                                         alt="prefooter img1">
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-8 nopadding-left">
                                <div class="prefooter-detail-text">
                                    <a href="listings-detail.html"><h1>Car Audio Set Sale</h1></a>
                                    <p>Price: $210</p>
                                    <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="prefooter-detail">
                            <div class="col-sm-4 col-xs-4 nopadding-left">
                                <div class="prefooter-detail-image">
                                    <img src="{{ asset('asset-front/images/prefooter-img2.png') }}"
                                         alt="prefooter img2">
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-8 nopadding-left">
                                <div class="prefooter-detail-text">
                                    <a href="listings-detail.html"><h1>Complete Kitchen Sale</h1></a>
                                    <p>Price: $20k</p>
                                    <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="prefooter-detail">
                            <div class="col-sm-4 col-xs-4 nopadding-left">
                                <div class="prefooter-detail-image">
                                    <img src="{{ asset('asset-front/images/prefooter-img3.png') }}"
                                         alt="prefooter img3">
                                </div>
                            </div>
                            <div class="col-sm-8 col-xs-8 nopadding-left">
                                <div class="prefooter-detail-text">
                                    <a href="listings-detail.html"><h1>Women Shoes Collection</h1></a>
                                    <p>Price: $30</p>
                                    <h3><i class="fa fa-map-marker"></i>Fairview Road, NY</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="prefooter-heading">
                        <h1>feature categories</h1>
                    </div>
                    <div id="prefooter-list-categories">
                        <ul>
                            <li><span>12</span><a href="#">Automotive</a></li>
                            <li><span>07</span><a href="#">Educational</a></li>
                            <li><span>44</span><a href="#">Foods</a></li>
                            <li><span>27</span><a href="#">Jobs</a></li>
                            <li><span>13</span><a href="#">Movies</a></li>
                            <li><span>46</span><a href="#">Property</a></li>
                            <li><span>89</span><a href="#">Shopping</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="prefooter-heading">
                        <h1>contact info</h1>
                    </div>
                    <div id="prefooter-contact-info">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="contact-info">
                        <div class="col-sm-1 col-xs-2 nopadding">
                            <div class="contact-icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <div class="contact-text">
                                <h1>142 North Park Avenue</h1>
                                <p>New York, USA.</p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="col-sm-1 col-xs-2 nopadding">
                            <div class="contact-icon">
                                <i class="fa fa-phone"></i>
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <div class="contact-text">
                                <h1><a href="#">+0432 987 65432</a></h1>
                                <p><a href="#">support@sitename.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="col-sm-1 col-xs-2 nopadding">
                            <div class="contact-icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-10">
                            <div class="contact-text">
                                <h1>Monday - Friday</h1>
                                <p>9:00 am - 5:00 pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="prefooter-heading">
                        <h1>tags</h1>
                    </div>
                    <div id="prefooter-tags">
                        <a href="#" class="hvr-sweep-to-bottom">automotive</a>
                        <a href="#" class="hvr-sweep-to-bottom">jobs</a>
                        <a href="#" class="hvr-sweep-to-bottom">movies</a>
                        <a href="#" class="hvr-sweep-to-bottom">food</a>
                        <a href="#" class="hvr-sweep-to-bottom">property</a>
                        <a href="#" class="hvr-sweep-to-bottom">shopping</a>
                        <a href="#" class="hvr-sweep-to-bottom">education</a>
                        <a href="#" class="hvr-sweep-to-bottom">photography</a>
                    </div>
                    <div class="prefooter-heading">
                        <h1>follow us</h1>
                    </div>
                    <div class="social">
                        <a href="https://www.facebook.com/" class="hvr-sweep-to-top">
                            <i class="fa fa-facebook"></i>

                        </a>
                        <a href="https://www.twitter.com/" class="hvr-sweep-to-top">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://plus.google.com/" class="hvr-sweep-to-top">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="https://www.linkedin.com/" class="hvr-sweep-to-top">
                            <i class="fa fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end prefooter-->

    <!-- start footer-->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div id="footer-text">
                        <p>All copyrights reserved @ 2016 - Design & Development by <a href="#">webmaster-mediaa</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end footer-->
    {% block javascripts %}
        {{ parent() }}

        <!-- Scripts -->
        <script src="{{ asset('asset-front/js/wow.min.js') }}"></script>
        <script src="{{ asset('asset-front/js/jquery-1.11.1.min.js') }}"></script>
        <script src="{{ asset('asset-front/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('asset-front/js/waypoints.js') }}"></script>
        <script src="{{ asset('asset-front/js/jquery.counterup.js') }}"></script>
        <script src="{{ asset('asset-front/js/jquery.bxslider-rahisified.min.js') }}"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="{{ asset('asset-front/js/custom.js') }}"></script>

        <script>
            function initMap() {
                var uluru = {lat: geoLat }}, lng: geoLong }}};
                var map = new google.maps.Map(document.getElementById('position'), {
                    zoom: 4,
                    center: uluru,

                    styles: [
                        {
                            "featureType": "administrative",
                            "elementType": "labels.text.fill",
                            "stylers": [
                                {
                                    "color": "#444444"
                                }
                            ]
                        },
                        {
                            "featureType": "landscape",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#f2f2f2"
                                }
                            ]
                        },
                        {
                            "featureType": "poi",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "road",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "saturation": -100
                                },
                                {
                                    "lightness": 45
                                }
                            ]
                        },
                        {
                            "featureType": "road.highway",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "simplified"
                                }
                            ]
                        },
                        {
                            "featureType": "road.arterial",
                            "elementType": "labels.icon",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "transit",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "visibility": "off"
                                }
                            ]
                        },
                        {
                            "featureType": "water",
                            "elementType": "all",
                            "stylers": [
                                {
                                    "color": "#ffbe00"
                                },
                                {
                                    "visibility": "on"
                                }
                            ]
                        }
                    ]
                });
                var marker = new google.maps.Marker({
                    position: uluru,
                    map: map
                });
            }
        </script>
        <script async defer
                src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBGPxbR1SJs41sccGoocBmu0m4_F33pMcU&callback=initMap">
        </script>
        {#  <script type="text/javascript">
            jQuery(function() {
                $('form.review-form').on('submit', function(){
                    $("<div />").addClass("formOverlay").appendTo($(this));
                    var curForm = jQuery(this);
                    $.ajax({
                        url: 'mail.php',
                        type: 'POST',
                        data: jQuery(curForm).serialize(),
                        success: function(data) {
                            var res=data.split("::");
                            jQuery(curForm).find("div.formOverlay").remove();
                            jQuery(curForm).prev('.expMessage').html(res[1]);
                            if(res[0]=='Success')
                            {
                                jQuery(curForm).remove();
                                jQuery(curForm).prev('.expMessage').html('');
                            }
                        }
                    });
                    return false;
                });
            });
        </script> #}
    {% endblock %}
    </body>


{% endblock %}