
<section id="about" class="welcome-section">
    <div class="auto-container">
        <div class="row clearfix">

            <div class="column col-md-6 col-sm-12 col-xs-12">
                <div class="video-box">
                    <figure class="image logo">
                        {% set path =  asset('uploads/image/')~qouiqui.user.id ~'/'~ qouiqui.id ~'/avatar/avatar.jpg' %}
                        {% if asset_exists(path) %}
                            <img src="{{ asset('uploads/image/') }}{{ qouiqui.user.id }}/{{ qouiqui.id }}/avatar/avatar.jpg" alt="">
                        {% else %}
                            <div style="width:300px;height:300px;margin: 0 auto;">
                                <h1 style="text-transform: uppercase;
                                    font-family: 'Lobster', cursive;
                                    margin: 0 auto;
                                    line-height: 300px;
                                     ">
                                    {{ qouiqui.firstName }}
                                </h1>
                            </div>
                        {% endif %}
                    </figure>
                </div>
            </div>
            <!--Content Column / Fact Counter Two-->
            <div class="content-column col-md-6 col-sm-12 col-xs-12">
                <div class="inner-box">

                    {% set sociaux = jsonDecod(qouiqui.sociaux) %}
                    {% if  connected %}
                        <div class="row">
                            <div class="pull-right margin-bott-40">
                                <button type="button" class="theme-btn btn-style-one blue" data-toggle="modal"
                                        data-target="#editpropo">modifier les information
                                </button>
                            </div>
                        </div>
                    {% endif %}
                    <h3>Bienvenue À {{ qouiqui.firstname }}</h3>
                    <div class="text description">
                        {{ qouiqui.details|raw }}
                    </div>

                    <!--Fact Counter Two-->
                    <div class="fact-counter">
                        <div class="clearfix">

                            <div class="info-box row norow">
                                <div class="col-md-6">
                                    <ul class="clearfix">
                                        <li class="address">
                                            <div class="icon_propo"><span class="fa fa-home"></span></div>
                                            <div class="marg-left-40">
                                                <h4>ADDRESS</h4>
                                                {{ qouiqui.address1 }} <br>{{ qouiqui.adress2 }}
                                            </div>
                                        </li>
                                        <li class="contact-info">
                                            <div class="icon_propo"><span class="fa fa-phone" aria-hidden="true"></span></div>
                                            <div class="marg-left-40">
                                                <h4>PHONE</h4>
                                                {{ qouiqui.phone }} / {{ qouiqui.phone2 }}
                                        </li>
                                        <li class="contact-info">
                                            <div class="icon_propo"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                                            <div class="marg-left-40">

                                                <h4>Horaire</h4>
                                                {% if horaire != null %}
                                                    Ouvert du {{ horaire.week.start }} à {{ horaire.week.end }}<br>
                                                    Fermé du {{ horaire.close.start }} à {{ horaire.close.end }}<br>
                                                    <hr>
                                                    Samedi du {% if horaire.weekendsamedi.open is defined %}{{ horaire.weekendsamedi.start }} à {{ horaire.weekendsamedi.end }} {% else %}Fermé{% endif %}<br>
                                                    Dimanche{% if horaire.weekenddimanche.open is defined %} du {{ horaire.weekenddimanche.start }} à {{ horaire.weekenddimanche.end }}{% else %} Fermé {% endif %}
                                                {% else %}
                                                    Pas D'horaire
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="clearfix">
                                        <li class="address">
                                            <div class="icon_propo"><span class="fa fa-puzzle-piece"></span></div>
                                            <div class="marg-left-40">
                                                <h4>Activité</h4>
                                                {{ category.libelle }}
                                            </div>
                                        </li>
                                        <li class="contact-info">
                                            <div class="icon_propo"><span class="fa fa-envelope-o"></span></div>
                                            <div class="marg-left-40">
                                                <h4>Email</h4>
                                                {{ qouiqui.mail }}

                                            </div>

                                        </li>
                                        <li class="contact-info">
                                            <div class="icon_propo"><span class="fa fa-globe"></span></div>
                                            <div class="marg-left-40">
                                                <h4>Website</h4>
                                                {{ qouiqui.website }}
                                            </div>
                                        </li>

                                    </ul>
                                </div>

                                <div class="clearfix"></div>
                                <hr>
                                <div class="col-md-6 pull-right row">
                                    <a href="#" class="theme-btn btn-style-one">Contactez Nous</a>

                                    <a href="#" class="theme-btn btn-style-one">Y aller</a>

                                    <div class="col-md-12 hidden-lg hidden-sm hidden-md pad-top imggoogle" style="padding-left:0;padding-top: 7px;">
                                        <a target="_blanck" href="http://maps.google.com?q={{ qouiqui.geoLat }},{{ qouiqui.geoLong }}">
                                            <img style="width:100%" src="https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=600x300&maptype=roadmap
                                            &markers=color:blue%7C
                                            label:webmaster-media%7C{{ qouiqui.geoLat }},{{ qouiqui.geoLong }}
                                            &key=AIzaSyBTdMydc9PUE0gPkcgjRZXOuFPXc5BUSrg">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-md-6 rs" style="display: -webkit-box;">
                                    <a href="{% if sociaux.facebook is defined %}{{ sociaux['facebook'] }} {% endif %}" target="_blank"><span class="fa fa-facebook-f"></span></a>
                                    <a href="{% if sociaux.tweeter is defined %}{{ sociaux['tweeter'] }}{% endif %}" target="_blank"><span class="fa fa-twitter"></span></a>
                                    <a href="{% if sociaux.linkedin is defined %}{{ sociaux['linkedin'] }}{% endif %}" target="_blank"><span class="fa fa-linkedin"></span></a>
                                    <a href="{% if sociaux.google is defined %}{{ sociaux['google'] }}{% endif %}" target="_blank"><span class="fa fa-google-plus"></span></a>
                                </div>

                            </div>


                        </div>
                    </div>

                </div>
            </div>
            <!--Video Column-->
        </div>
    </div>
</section>
<style>
    @media (max-width: 767px) {
        .description{
            display: none;
        }

        figure.image.logo img {
            max-width: 70%;
            left: 15%;}

        .welcome-section {
            position: relative;
            padding: 1px 20px;
        }
        .card-media-body{

        }

    }

    #about li {
        list-style: none;
    }

    .marg-left-40 {
        margin-left: 49px;
        margin-top: 8px;
    }

    .norow {
        padding: 0 !important;
    }

    .icon_propo {
        position: relative;
        left: 0px;
        top: 55px;
        width: 40px;
        font-size: 32px;
        line-height: 42px;
        /*color: #71b100;*/
        font-style: normal;
    }

    .icon_propo h4 {

        font-size: 14px;
        text-transform: uppercase;
        margin-bottom: 0px;
        color: #253d4a;
        font-weight: 700;
        margin-top: 16px;
    }

    .rs a {
        font-size: 35px;
        margin-left: 9px;
        padding-top: 5px;
        display: inline-table;
    }

    .nopadd {
        padding: 1px;
    }

</style><!-- Modal -->
{% if  connected %}
    <div id="editpropo" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modifier les information</h4>
                </div>
                <div class="modal-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#uploadTab" aria-controls="uploadTab" role="tab"
                                                                      data-toggle="tab">mise a jour votre info</a>
                            </li>
                            <li role="presentation"><a href="#browseTab" aria-controls="browseTab" role="tab"
                                                       data-toggle="tab">modifier le logo</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="uploadTab">
                                <form id="edit_info" method="POST" action="{{ path('module_propo') }}">

                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Description</h4>
                                            <textarea id="det" name="editor" value="">{{ qouiqui.details }}</textarea>
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Address</h4>
                                            <input type="text" name="qouiqui[address1]" class="form-control"
                                                   value=" {{ qouiqui.address1 }}">
                                            <input type="text" name="qouiqui[id]" class="hidden" value="{{ qouiqui.id }}">
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Address additionelle</h4>
                                            <input type="text" name="qouiqui[address2]" class="form-control"
                                                   value="{{ qouiqui.adress2 }}">
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Numéro du télephone </h4>
                                            <input type="text" name="qouiqui[phone]" class="form-control"
                                                   value="{{ qouiqui.phone }}">
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Deuxieme Numéro </h4>
                                            <input type="text" name="qouiqui[phone2]" class="form-control"
                                                   value="{{ qouiqui.phone2 }}">
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Address email </h4>
                                            <input type="text" name="qouiqui[mail]" class="form-control"
                                                   value="{{ qouiqui.mail }}">
                                        </div>

                                        <div class="col-md-6">
                                            <h4>Site Web </h4>
                                            <input type="text" name="qouiqui[website]" class="form-control"
                                                   value="{{ qouiqui.website }}">
                                        </div>
                                        <hr class="clear-fix">
                                        <div class="col-md-12">
                                            <h4>Horaire</h4>
                                            <div class="col-md-6 nopadd">
                                                <h5>Ouvert au cours de la semaine du</h5>
                                                {#<input type="text" name="qouiqui[opening]" class="form-control"  value="{{ qouiqui.opening }}">#}
                                                <div class="bfh-timepicker" data-mode="12h" data-time="08:00" data-name="qouiqui[opening][week][start]">
                                                </div>
                                                <h5>à</h5>
                                                <div class="bfh-timepicker" data-mode="12h" data-time="18:00" data-name="qouiqui[opening][week][end]">
                                                </div>
                                            </div>
                                            <div class="col-md-6 nopadd">
                                                <h5>Fermé du</h5>
                                                {#<input type="text" name="qouiqui[opening]" class="form-control"  value="{{ qouiqui.opening }}">#}
                                                <div class="bfh-timepicker" data-mode="12h" data-time="13:00" data-name="qouiqui[opening][close][start]">
                                                </div>
                                                <h5>à</h5>
                                                <div class="bfh-timepicker" data-mode="12h" data-time="14:00" data-name="qouiqui[opening][close][end]">
                                                </div>
                                            </div>
                                            <div class="col-md-6 nopadd">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox2" type="checkbox" name="qouiqui[opening][weekendsamedi][open]" value="true">
                                                    <label for="checkbox2">
                                                        Samedi du
                                                    </label>
                                                </div>
                                                {#<input type="text" name="qouiqui[opening]" class="form-control"  value="{{ qouiqui.opening }}">#}

                                                <div class="bfh-timepicker" data-mode="12h" data-time="13:00" data-name="qouiqui[opening][weekendsamedi][start]">
                                                </div>
                                                <h5>à</h5>
                                                <div class="bfh-timepicker" data-mode="12h" data-time="14:00" data-name="qouiqui[opening][weekendsamedi][end]">
                                                </div>
                                            </div>

                                            <div class="col-md-6 nopadd">
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox3" name="qouiqui[opening][weekenddimanche][open]" value="true" type="checkbox">
                                                    <label for="checkbox3">
                                                        Dimanche du
                                                    </label>
                                                </div>
                                                {#<input type="text" name="qouiqui[opening]" class="form-control"  value="{{ qouiqui.opening }}">#}

                                                <div class="bfh-timepicker" data-mode="12h" data-time="13:00" data-name="qouiqui[opening][weekenddimanche][start]">
                                                </div>
                                                <h5>à</h5>
                                                <div class="bfh-timepicker" data-mode="12h" data-time="14:00" data-name="qouiqui[opening][weekenddimanche][end]">
                                                </div>
                                            </div>
                                        </div>

                                        <hr class="clear-fix">

                                        <div class="col-md-12">
                                            <h4>Facebook </h4>
                                            <input type="text" name="qouiqui[rs][facebook]" class="form-control"
                                                   value="{{ sociaux.facebook }}">
                                        </div>
                                        <div class="col-md-12">
                                            <h4>Tweeter </h4>
                                            <input type="text" name="qouiqui[rs][tweeter]" class="form-control"
                                                   value="{{ sociaux.tweeter }}">
                                        </div>
                                        <div class="col-md-12">
                                            <h4>Google Plus </h4>
                                            <input type="text" name="qouiqui[rs][google]" class="form-control"
                                                   value="{{ sociaux.google }}">
                                        </div>
                                        <div class="col-md-12">
                                            <h4>linkedin</h4>
                                            <input type="text" name="qouiqui[rs][linkedin]" class="form-control"
                                                   value="{{ sociaux.linkedin }}">
                                        </div>


                                    </div>
                                </form>

                            </div>
                            <div role="tabpanel" class="tab-pane" id="browseTab">

                                <div class="centered">
                                    {% if asset_exists(path) %}
                                        <form action="{{ path('supp_avatar',{'qq_id': qouiqui.id}) }}" id="suplogo" method="POST" >

                                            <input  type="submit" value="Supprimer le logo" class="sup-logo theme-btn btn-style-one blue marg40" name="submit"><br>
                                            <img class="logologo" src="{{ asset('uploads/image/') }}{{ qouiqui.user.id }}/{{ qouiqui.id }}/avatar/avatar.jpg" alt="">
                                        </form>
                                    {% else %}
                                        <h4 class="marg40"> pas de logo !</h4>
                                    {% endif %}
                                    <br>
                                    <form action="{{ path('change_avatar',{ 'qq_id': qouiqui.id }) }}" method="POST" accept="image/gif, image/jpeg, image/png" enctype="multipart/form-data">
                                        choisir votre logo
                                        <input class="btn-default" type="file" name="fileToUpload" id="fileToUpload"><br>
                                        <input type="submit" value="envoyer l'image" class="theme-btn btn-style-one blue" name="submit">
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-default " data-target="modifier" data-selector="edit_info">
                        enregistrer
                    </button>
                </div>


            </div>

        </div>
    </div>
{% endif %}