<div id="content">
    <div class="container">

        <h2>Trouver Votre Meilleur Destination</h2>
        <div class="tabs_wrapper tabs1_wrapper">
            <div class="tabs tabs2 ui-tabs ui-widget ui-widget-content ui-corner-all">
                <div class="tabs_tabs tabs1_tabs">

                    <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all" role="tablist">
                        <li class="flights ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-1" aria-labelledby="ui-id-1" aria-selected="false" aria-expanded="false"><a href="#tabs-1" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">Flights</a></li>
                        <li class="active hotels ui-state-default ui-corner-top ui-tabs-active ui-state-active" role="tab" tabindex="0" aria-controls="tabs-2" aria-labelledby="ui-id-2" aria-selected="true" aria-expanded="true"><a href="#tabs-2" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">Hotels</a></li>
                        <li class="cars ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false"><a href="#tabs-3" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">Cars</a></li>
                        <li class="cruises ui-state-default ui-corner-top" role="tab" tabindex="-1" aria-controls="tabs-4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false"><a href="#tabs-4" class="ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">Cruises</a></li>
                    </ul>

                </div>
                <div class="tabs_content tabs1_content">

                    <div id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom tab-hidden" role="tabpanel" aria-hidden="true" style="display: none;">
                        <form action="javascript:;" class="form1">
                            <div class="row">
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>Flying from:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">City or Airport</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Bahamas</option>
                                                <option value="4">Bermuda</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Caribbean</option>
                                                <option value="7">Europe</option>
                                                <option value="8">Hawaii</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ntc6-container"><span class="select2-selection__rendered" id="select2-ntc6-container" title="City or Airport">City or Airport</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>To:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">City or Airport</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Bahamas</option>
                                                <option value="4">Bermuda</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Caribbean</option>
                                                <option value="7">Europe</option>
                                                <option value="8">Hawaii</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-ix5g-container"><span class="select2-selection__rendered" id="select2-ix5g-container" title="City or Airport">City or Airport</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Departing:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511872">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Returning:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511873">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-1">
                                    <div class="select1_wrapper">
                                        <label>Adult:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select3 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zebc-container"><span class="select2-selection__rendered" id="select2-zebc-container" title="1">1</span><span class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-1">
                                    <div class="select1_wrapper">
                                        <label>Child:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select3 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-3mws-container"><span class="select2-selection__rendered" id="select2-3mws-container" title="1">1</span><span class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="button1_wrapper">
                                        <button type="submit" class="btn-default btn-form1-submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-3">

                                <div class="sm_slider sm_slider1">
                                    <a class="sm_slider_prev" href="#" style="display: block;"></a>
                                    <a class="sm_slider_next" href="#" style="display: block;"></a>
                                    <div class="">
                                        <div class="carousel-box">
                                            <div class="inner">
                                                <div class="carousel main">
                                                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 253px; height: 203px; margin: 0px; overflow: hidden; cursor: move;">
                                                        <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1265px; height: 203px; z-index: auto;">


                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">Adam Parker</div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">George Smith</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9">

                                <form action="javascript:;" class="form3 clearfix">
                                    <div class="select1_wrapper txt">
                                        <label>Sort by:</label>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Name</option>
                                                <option value="2">Name2</option>
                                                <option value="2">Name3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-hz5l-container"><span class="select2-selection__rendered" id="select2-hz5l-container" title="Name">Name</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                              role="presentation"><b role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Price</option>
                                                <option value="2">Price2</option>
                                                <option value="2">Price3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-j9uy-container"><span class="select2-selection__rendered" id="select2-j9uy-container" title="Price">Price</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Raiting</option>
                                                <option value="2">Raiting2</option>
                                                <option value="2">Raiting3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-rh7x-container"><span class="select2-selection__rendered" id="select2-rh7x-container" title="Raiting">Raiting</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                    role="presentation"><b role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Popularity</option>
                                                <option value="2">Popularity2</option>
                                                <option value="2">Popularity3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-pj4f-container"><span class="select2-selection__rendered" id="select2-pj4f-container" title="Popularity">Popularity</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                          role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper buttons">
                                        <a href="#" class="btn-default s1"></a>
                                        <a href="#" class="btn-default s2"></a>
                                        <a href="#" class="btn-default s3"></a>
                                    </div>
                                </form>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights01.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Abudabi - Zurich</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$250.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights02.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Sydney - Berlin</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$849.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights03.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Ankara - Munich</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$849.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hl1"></div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights04.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Zurich- Moscow</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$549.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights05.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Boston- Tbilisi</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$749.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights06.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Amsterdam- Viena</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$179.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hl1"></div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights07.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Berlin- Warsaw</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$69.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights08.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">New York - Paris</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$539.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb4">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/flights09.jpg') }}" alt="" class="img-responsive">
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">Riga- Prague</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$49.00</div>
                                                            <div class="nums">avg/person</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-flights.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pager_wrapper">
                                    <ul class="pager clearfix">
                                        <li class="prev"><a href="#">Previous</a></li>
                                        <li class="li"><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li class="li"><a href="#">3</a></li>
                                        <li class="li"><a href="#">4</a></li>
                                        <li class="li"><a href="#">5</a></li>
                                        <li class="li"><a href="#">6</a></li>
                                        <li class="li"><a href="#">7</a></li>
                                        <li class="li"><a href="#">8</a></li>
                                        <li class="li"><a href="#">9</a></li>
                                        <li class="li"><a href="#">10</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
                        <form action="javascript:;" class="form1">
                            <div class="row">
                                <div class="col-sm-4 col-md-4">
                                    <div class="select1_wrapper">
                                        <label>City or Hotel Name:</label>
                                        <div class="hotel_destination">
                                            <input type="text" class="form-control" placeholder="Enter a destination or hotel name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Check-In:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511874">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Check-Out:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511875">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>Adult:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Room for 1 adult</option>
                                                <option value="2">Room for 2 adult</option>
                                                <option value="3">Room for 3 adult</option>
                                                <option value="4">Room for 4 adult</option>
                                                <option value="5">Room for 5 adult</option>
                                                <option value="6">Room for 6 adult</option>
                                                <option value="7">Room for 7 adult</option>
                                                <option value="8">Room for 8 adult</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-gfoz-container"><span class="select2-selection__rendered" id="select2-gfoz-container" title="Room  for  1  adult">Room  for  1  adult</span><span
                                                                class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="button1_wrapper">
                                        <button type="submit" class="btn-default btn-form1-submit filtre_hotel">Recherche</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-3">

                                <div class="sm_slider sm_slider2">
                                    <a class="sm_slider_prev" href="#" style="display: block;"></a>
                                    <a class="sm_slider_next" href="#" style="display: block;"></a>
                                    <div class="">
                                        <div class="carousel-box">
                                            <div class="inner">
                                                <div class="carousel main">
                                                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 253px; height: 203px; margin: 0px; overflow: hidden; cursor: move;">
                                                        <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1265px; height: 203px; z-index: auto;">


                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">Adam Parker</div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">George Smith</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9 HResult">
                                <div class="hl1"></div>
                                <div class="row">
                                    <h4 class="text-center">pas de resultat</h4>
                                </div>
                                <div class="hl1"></div>
                                <div class="pager_wrapper">
                                    <ul class="pager clearfix">
                                        <li class="prev"><a href="#">Previous</a></li>
                                        <li class="li"><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="tabs-3" aria-labelledby="ui-id-3" class="ui-tabs-panel ui-widget-content ui-corner-bottom tab-hidden" role="tabpanel" aria-hidden="true" style="display: none;">
                        <form action="javascript:;" class="form1">
                            <div class="row">
                                <div class="col-sm-4 col-md-6">
                                    <div class="select1_wrapper">
                                        <label>ville ou mark:</label>
                                        <div class="voiture_atrouver">
                                            <input type="text" class="form-control" placeholder="Enter a destination or hotel name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Pick up Date:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511876">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Drop off Date:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="Mm/Dd/Yy" id="dp1500455511877">
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 col-md-2">
                                    <div class="button1_wrapper">
                                        <button type="submit" class="btn-default btn-form1-submit filtre_voiture">Recherche</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-3">



                                <div class="sm_slider sm_slider3">
                                    <a class="sm_slider_prev" href="#" style="display: block;"></a>
                                    <a class="sm_slider_next" href="#" style="display: block;"></a>
                                    <div class="">
                                        <div class="carousel-box">
                                            <div class="inner">
                                                <div class="carousel main">
                                                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 253px; height: 203px; margin: 0px; overflow: hidden; cursor: move;">
                                                        <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1265px; height: 203px; z-index: auto;">


                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">Adam Parker</div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">George Smith</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-9">
                                <div class="hl1"></div>
                                <div class="row Vresult">
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cars01.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">SMART FORFOUR 1.0 <span>or similar</span></div>
                                                        <div class="v2">Mileage unlimited 4 / Manual transmission</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">SMART FORFOUR 1.0</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$24.00</div>
                                                            <div class="nums">per/Day</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-cars.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cars02.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">FIAT 500 1.2 <span>or similar</span></div>
                                                        <div class="v2">Mileage unlimited 4 / Manual transmission</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">FIAT 500 1.2</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$25.00</div>
                                                            <div class="nums">per/Day</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-cars.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cars03.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">FIAT PANDA 1.2 <span>or similar</span></div>
                                                        <div class="v2">Mileage unlimited 4 / Manual transmission</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">FIAT PANDA 1.2</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$26.00</div>
                                                            <div class="nums">per/Day</div>
                                                        </div>
                                                        <div class="right_side"><a href="search-cars.html" class="btn-default btn1">Details</a></div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pager_wrapper">
                                    <ul class="pager clearfix">
                                        <li class="prev"><a href="#">Previous</a></li>
                                        <li class="li"><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>
                    <div id="tabs-4" aria-labelledby="ui-id-4" class="ui-tabs-panel ui-widget-content ui-corner-bottom tab-hidden" role="tabpanel" aria-hidden="true" style="display: none;">
                        <form action="javascript:;" class="form1">
                            <div class="row">
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>Sail To:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">All destinations</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Bahamas</option>
                                                <option value="4">Bermuda</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Caribbean</option>
                                                <option value="7">Europe</option>
                                                <option value="8">Hawaii</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-zcnf-container"><span class="select2-selection__rendered" id="select2-zcnf-container" title="All destinations">All destinations</span><span
                                                                class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>Sail From:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">All ports</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Bahamas</option>
                                                <option value="4">Bermuda</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Caribbean</option>
                                                <option value="7">Europe</option>
                                                <option value="8">Hawaii</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-al1q-container"><span class="select2-selection__rendered" id="select2-al1q-container" title="All ports">All ports</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>Start Date:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="From any month" id="dp1500455511878">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="input1_wrapper">
                                        <label>End of Date:</label>
                                        <div class="input1_inner">
                                            <input type="text" class="input datepicker hasDatepicker" value="To any month" id="dp1500455511879">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <div class="select1_wrapper">
                                        <label>Cruise Ship:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">All Ships</option>
                                                <option value="2">Alaska</option>
                                                <option value="3">Bahamas</option>
                                                <option value="4">Bermuda</option>
                                                <option value="5">Canada</option>
                                                <option value="6">Caribbean</option>
                                                <option value="7">Europe</option>
                                                <option value="8">Hawaii</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-x3pm-container"><span class="select2-selection__rendered" id="select2-x3pm-container" title="All Ships">All Ships</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                        role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-4 col-md-2">
                                    <div class="button1_wrapper">
                                        <button type="submit" class="btn-default btn-form1-submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-sm-3">

                                <form action="javascript:;" class="form2 form2_flights">
                                    <div class="select1_wrapper clearfix">
                                        <label>Passenger:</label>
                                        <div class="select1_inner">
                                            <select class="select2 select select3 select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-6g3q-container"><span class="select2-selection__rendered" id="select2-6g3q-container" title="1">1</span><span class="select2-selection__arrow" role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </form>



                                <div class="sm_slider sm_slider4">
                                    <a class="sm_slider_prev" href="#" style="display: block;"></a>
                                    <a class="sm_slider_next" href="#" style="display: block;"></a>
                                    <div class="">
                                        <div class="carousel-box">
                                            <div class="inner">
                                                <div class="carousel main">
                                                    <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 253px; height: 203px; margin: 0px; overflow: hidden; cursor: move;">
                                                        <ul style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 0px; margin: 0px; width: 1265px; height: 203px; z-index: auto;">


                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">Adam Parker</div>
                                                                </div>
                                                            </li>
                                                            <li style="width: 253px;">
                                                                <div class="sm_slider_inner">
                                                                    <div class="txt1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</div>
                                                                    <div class="txt2">George Smith</div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-9">

                                <form action="javascript:;" class="form3 clearfix">
                                    <div class="select1_wrapper txt">
                                        <label>Sort by:</label>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Ships</option>
                                                <option value="2">Ships2</option>
                                                <option value="2">Ships3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-cjnr-container"><span class="select2-selection__rendered" id="select2-cjnr-container" title="Ships">Ships</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Duration</option>
                                                <option value="2">Duration2</option>
                                                <option value="2">Duration3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-b4fk-container"><span class="select2-selection__rendered" id="select2-b4fk-container" title="Duration">Duration</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                      role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Price</option>
                                                <option value="2">Price2</option>
                                                <option value="2">Price3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-wnze-container"><span class="select2-selection__rendered" id="select2-wnze-container" title="Price">Price</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                role="presentation"><b
                                                                    role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper sel">
                                        <div class="select1_inner">
                                            <select class="select2 select select2-hidden-accessible" style="width: 100%" tabindex="-1" aria-hidden="true">
                                                <option value="1">Name</option>
                                                <option value="2">Name2</option>
                                                <option value="2">Name3</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-3x0q-container"><span class="select2-selection__rendered" id="select2-3x0q-container" title="Name">Name</span><span class="select2-selection__arrow"
                                                                                                                                                                                                                                                                                                                                                                                                                                                              role="presentation"><b role="presentation"></b></span></span></span><span
                                                        class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="select1_wrapper buttons">
                                        <a href="#" class="btn-default s1"></a>
                                        <a href="#" class="btn-default s2"></a>
                                        <a href="#" class="btn-default s3"></a>
                                    </div>
                                </form>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises01.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Bahamas <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">6 Days Bahamas</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$590.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises02.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Mediterranean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">14 Days Mediterranean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$999.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises03.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Caribbean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">5 Days Caribbean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$360.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hl1"></div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises04.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Greece <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">4 Days Greece</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$236.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises05.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Australia <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">9 Days Australia</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$990.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises06.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Mediterranean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">12 Days Mediterranean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$560.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="hl1"></div>

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises07.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Caribbean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">4 Day Caribbean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$36.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises08.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Caribbean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">6 Day Caribbean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$90.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="thumb6">
                                            <div class="thumbnail clearfix">
                                                <figure>
                                                    <img src="{{ asset ('module/agencevoyage/images/cruises09.jpg') }}" alt="" class="img-responsive">
                                                    <div class="over">
                                                        <div class="v1">Caribbean <span>17 Deal Offers</span></div>
                                                        <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                    </div>
                                                </figure>
                                                <div class="caption">
                                                    <div class="txt1">5 Day Caribbean</div>
                                                    <div class="txt3 clearfix">
                                                        <div class="left_side">
                                                            <div class="price">$160.00</div>
                                                            <div class="nums">per/Cabin</div>
                                                        </div>
                                                        <div class="right_side"><a href="earch-cruise.html" class="btn-default btn1">Details</a></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="pager_wrapper">
                                    <ul class="pager clearfix">
                                        <li class="prev"><a href="#">Previous</a></li>
                                        <li class="li"><a href="#">1</a></li>
                                        <li class="active"><a href="#">2</a></li>
                                        <li class="li"><a href="#">3</a></li>
                                        <li class="li"><a href="#">4</a></li>
                                        <li class="li"><a href="#">5</a></li>
                                        <li class="li"><a href="#">6</a></li>
                                        <li class="li"><a href="#">7</a></li>
                                        <li class="li"><a href="#">8</a></li>
                                        <li class="li"><a href="#">9</a></li>
                                        <li class="li"><a href="#">10</a></li>
                                        <li class="next"><a href="#">Next</a></li>
                                    </ul>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>