<div id="offre">
    <div class="container">
        {% if  connected %}
            <div class="row">
                <div class="pull-right margin-bott-40">
                    <button type="button" class="theme-btn btn-style-one blue" data-toggle="modal"
                            data-target="#Ajouter_offre">Ajouter une CROISIERE / VOYAGE
                    </button>
                </div>
            </div>
        {% endif %}
        <h2 class="animated">CROISIERE ET VOYAGE</h2>

        <div class="title1 animated">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod <br>tincidunt ut laoreet dolore magna aliquam erat volutpat.</div>

        <br><br>

        <div id="popular_wrapper" class="animated" data-animation="fadeIn" data-animation-delay="300">
            <div id="popular_inner">
                <div class="">
                    <div id="popular">
                        <div class="">
                            <div class="carousel-box">
                                <div class="inner">
                                    <div class="carousel main">
                                        <ul>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular01.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Bahamas <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Bahamas</span> 7 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star2.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 18 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular02.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Mediterranean <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Mediterranean</span> 18 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 168 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular03.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Greece <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Greece</span> 6 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star2.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 16 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular01.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Bahamas <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Bahamas</span> 7 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star2.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 18 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular02.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Mediterranean <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Mediterranean</span> 18 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 168 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="popular">
                                                    <div class="popular_inner">
                                                        <figure>
                                                            <img src="{{ asset('module/agencevoyage/images/popular03.jpg') }}" alt="" class="img-responsive">
                                                            <div class="over">
                                                                <div class="v1">Greece <span>17 Deal Offers</span></div>
                                                                <div class="v2">Lorem ipsum dolor sit amet, concateus.</div>
                                                            </div>
                                                        </figure>
                                                        <div class="caption">
                                                            <div class="txt1"><span>Greece</span> 6 Night Tour</div>
                                                            <div class="txt2">Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming.</div>
                                                            <div class="txt3 clearfix">
                                                                <div class="left_side">
                                                                    <div class="stars1">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star1.png') }}" alt="">
                                                                        <img src="{{ asset('module/agencevoyage/images/star2.png') }}" alt="">
                                                                    </div>
                                                                    <div class="nums">- 16 Reviews</div>
                                                                </div>
                                                                <div class="right_side"><a href="#" class="btn-default btn1">See All</a></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>









                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="popular_pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% if  connected %}
    <div id="Ajouter_offre" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modifier les information</h4>
                </div>
                <div class="modal-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#voyage" aria-controls="uploadTab" role="tab"
                                                                      data-toggle="tab">Voyage</a>
                            </li>
                            <li role="presentation"><a href="#croisiere" aria-controls="browseTab" role="tab"
                                                       data-toggle="tab">Croisiere</a>
                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="voyage">


                                {{ include('@Module/Module/agencevoyage/ajouter_offre_vol_form.html.twig') }}


                            </div>
                            <div role="tabpanel" class="tab-pane" id="croisiere">

                               {{ include('@Module/Module/agencevoyage/ajouter_offre_croisiere_form.html.twig') }}

                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-default " data-target="modifier" data-selector="xxx">
                        enregistrer
                    </button>
                </div>


            </div>

        </div>
    </div>
{% endif %}