<style>
    .gri{
        padding: 12px;
    }
    figure.effe ct-layla {
        height: 344px;
        overflow: hidden;
        display: grid;
        align-items: center;

    }
    figure.effect-layla img{
        min-width: 100%;
        margin: 0 auto;
    }
    .gri figure {
        height: 370px;
    }
    .gri img {
        width: inherit;
    }
</style>
<script>
    $('.form_article').click(function () {
        module = $(this).data('module');
        if ((typeof module) == 'string'){
            module = $(this).data('module').replace(/(\r\n|\n|\r)/g, '<br/>').toString();
            module = JSON.parse(module);
        }
        link = $(this).data('link');
        $('#Article-edit #AdminBundle_traiteur_titre').val(module.titre);
        $('#Article-edit #AdminBundle_traiteur_details').val(module.details);
        CKEDITOR.instances['#AdminBundle_traiteur_details'].setData(module.details);
        $('#Article-edit #AdminBundle_traiteur_prix').val(module.prix);
        $('#Article-edit form').attr('action',link);

    })

    $('.view').click(function () {

        module = $(this).data('module');
        if ((typeof module) == 'string'){
            module = $(this).data('module').replace(/(\r\n|\n|\r)/g, '<br/>').toString();
            module = JSON.parse(module);
        }
        $('.titre-view').html(module.titre);
        $('.view-description').html(module.details);
        $('.prix').html(module.prix);
        $('.prev-img-view img').attr('src',module.image);

    })


    $("#servicess").change(function () {
        selec = $("#servicess option:selected").text();
        if (selec == "Choisir autre Service") {
            $('#title-service-mod').show();
            $('#service_update').attr('disabled', false);
        } else {
            $('#title-service-mod').hide();
            $('#service_update').attr('disabled', true);
        }
    });
    $("#services").change(function () {
        selec = $("#services option:selected").text();
        if (selec == "Choisir autre Service") {
            $('#title-service-add').show();
            $('#name-add').attr('disabled', false);
        } else {
            $('#title-service-add').hide();
            $('#name-add').attr('disabled', true);
        }
    });
   
    var page;
    var numberPerPage;
    $(document).ready(function () {
        iImage = 0;
        numberPerPage = 9;
        search = {};
        page = 0;
        numberOfModules ={{ module|length }};
        getObjects(search);


    });
    function getObjects(search) {


        if (page == 0) {

            $("#list_modules").empty();


        }


        page = page + 1;


        $.ajax({
            url: '{{ path('list_objects') }}',
            data: {

                'page': page,
                'number': numberPerPage,
                'object': '{{ category.slug }}',
                'quoiqui': {{ qouiqui.id }},
                'jsonSearch': JSON.stringify(search)


            },

            type: "POST",
            dataType: "json",

            success: function (response) {


                if (((numberOfModules) - (page * numberPerPage)) > 0) {


                    $("#button_pages").html("<a  class='button11' onclick='getObjects(" + JSON.stringify(search) + ")'> Voir Plus </a>");

                }
                else {
                    $("#button_pages").empty();
                }
                if (page > 1) {
                    $("#button_pages").append("<a  class='button11' onclick='Mask(" + JSON.stringify(search) + ")'> Masquer </a>");

                }

                for (i = 0; i < response.length; i++) {
                    jsonStringResponse = JSON.stringify(response[i], stringifyReplacer);


                    $("#list_modules").append("<div class='col-md-4 col-sm-4 col-xs-12'>" +
                        "<div class='property_item heading_space'>" +
                        "<div class='image'>" +


                        "<div class='center-cropped col-sm-4' style='background-image:url({{ asset('/uploads/image/') }}{{ qouiqui.user.id }}/{{ qouiqui.id }}/Offres/" + response[i]["id"] + "/" + response[i]['images'][response[i]['indexPrincipaleImage']] + "';margin-bottom:0px!important;)></div>" +


                        "<div class='overlay'>" +

                        "</div>" +
                        "<div class='overlay'>" +
                        "<div class='centered'><a class='link_arrow white_border form-details-project' href='#' data-toggle='modal'" +
                        "data-target='#details-project' data-project='" + jsonStringResponse + "' data-images=" + response[i]['images'] + " >Voir details</a></div>" +
                        "</div>" +
                        "</div>" +
                        "<div class='property_meta'>" +

                        "<span><i class='fa fa-object-group'></i>" + response[i]["surface"] + "m²</span>" +


                        "</div>" +


                        "<div class='proerty_content'>" +
                        "<div class='proerty_text'>" +
                        "<h3 style='min-height: 45px'><a href='#'>" + response[i]["name"] + "</a></h3>" +
                        "<p style='min-height: 45px'><strong><span class='glyphicon glyphicon-map-marker'></span> " + response[i]["adress"] + "</strong></p>" +

                        "<p style='min-height: 45px'><strong><span class='glyphicon glyphicon-user'></span>" + response[i]["client"] + " </strong></p>" +
                        "</div>" +
                        "<div class='favroute clearfix'>" +
                        "<p class='pull-left'><i class='icon-calendar2'></i> " + formatDate(new Date(response[i]["dateCreation"]['timestamp'] * 1000)) + " </p>" +
                        "<ul class='pull-right'>" +
                        "<li><a href='#'><i class='icon-video'></i></a></li>" +
                        "<li><a href='#'><i class='icon-like'></i></a></li>" +
                        "</ul>" +
                        "</div>" +
                        "</div>" +
                        "</div>" +
                        "</div>");


                }


            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            },


        });

    }
    function escapeSpecialCharacters(string) {
        return string
            .replace(/[']/g, "&apos;")

    }

    function stringifyReplacer(key, value) {
        if (typeof value === 'string') {
            return escapeSpecialCharacters(value);
        }

        return value;
    }


    function formatDate(date) {
        stringDate = "";
        month = date.getMonth() + 1;
        stringDate = date.getDate() + '/' + month + '/' + date.getFullYear();
        return stringDate;


    }
    function Mask(search) {
        page = 0;
        getObjects(search);


    }


    var number;
    var page;
    var numberPerPage;


    $(document).on("click", ".form-update-project", function () {

        var module = $(this).data('project');
        var link = $(this).data('link');
        var images = $(this).data('images');
        var image;

        Object.keys(module).forEach(function (k) {
            if (k != "id" && k != "description") {


                $('#' + k).val(module[k]);
            }
            else if (k == "description") {

                $('#' + k + "_update_project").html(decodeURI((module[k]).replace(/codeDouble/g, '"').replace(/BracketOpen/g, '{').replace(/BracketClose/g, '}').replace(/doublePonctuation/g, ':').replace(/retunLine/g, '\n\r'))
                );
            }
        });
        $('[name="adminbundle_architecture[dateCreation]"]').val(module.dateCreation);


        $("#update-project-form").attr("action", link);
        $("#row-update").show();

        $("#image_to_upload_update").empty();
        if (images != "") {

            images = images.split(",");

            for (i = 0; i < images.length; i++) {
                image = images[i];

                $("#image_to_upload_update").append(" <tr id='tr" + i + "old'><td><img id ='old-image" + i + "' style='width: 100%' src='#' /></td><td><button class='btn btn-danger' onclick='deleteOldOfferImage(" + i + "," + module.id + ",\"" + image + "\")'>Supprimer</button></br><input type='radio' name='principale-image' value='" + i + "' onclick='changePrincipaleImage(" + module.id + "," + i + ")'>Image principale" +
                    "</td></tr>");
                $('#old-image' + i).attr('src', '{{ asset('/uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/Offres/' + module.id + '/' + image);
            }
        }

    });
    function readURL(input, listImages, iImage, divContent, table, inputFile) {
        for (i = 0; i < input.files.length; i++) {

            if (input.files && input.files[i]) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $("#" + listImages).append("<tr id='tr-add" + iImage + "' class='tr-inner-table'><td ><img  style='width: 100%' src='" + e.target.result + "' /></td><td><button class='btn btn-danger' onclick='deleteNewOfferImage(" + iImage + "," + divContent + "," + listImages + "," + table + "," + inputFile + ")'>Supprimer</button></td></tr>");

                    iImage = iImage + 1;


                }

                reader.readAsDataURL(input.files[i]);
            }

        }

    }

    document.getElementById('fileInput').onchange = function () {

        var iImage = 0;
        $("#removed_images_add").empty();

        uploadNewImage(this, "uploaded_image", "table_new", iImage, "removed_images_add", "fileInput");


    };
    document.getElementById('fileInputUpdate').onchange = function () {


        var iImageUpdate = 0;
        $("#removed_images_update").empty();
        uploadNewImage(this, "uploaded_image_update", "table_new_update", iImageUpdate, "removed_images_update", "fileInputUpdate");


    };

    function deleteNewOfferImage(iI, divContent, listImages, table, inputFile) {

        $("#tr-add" + iI).remove();

        $(divContent).append("<input name='deleteFile[" + iI + "]' value='" + iI + "' type='hidden'>");

        if ($(listImages).is(':empty')) {


            $(table).hide();
            $(divContent).empty();

            $(inputFile).empty();


        }


        event.preventDefault();

    }
    function uploadNewImage(input, listeImages, table, iImage, divContent, inputFile) {

        $("#" + listeImages).empty();
        $("#" + table).show();
        readURL(input, listeImages, iImage, divContent, table, inputFile);
    }

    function deleteOldOfferImage(iI, moduleId, image) {

        var result = confirm("Voulez vous vraiment supprimer cette image ?");
        if (result) {


            $.ajax({
                url: '{{ path('delete_image_project') }}',
                data: {
                    'user': {{ qouiqui.user.id }},
                    'quoiqui': {{ qouiqui.id }},
                    'module': moduleId,
                    'image': image,
                },
                type: "POST",
                success: function (response) {


                    $("#tr" + iI + "old").remove();

                    location.reload();


                },


            });


        }


    }
    function changePrincipaleImage(moduleId, index) {

        $.ajax({
            url: '{{ path('change_principal_image_project') }}',
            data: {

                'module': moduleId,
                'index': index,


            },
            type: "POST",
            success: function (response) {
                location.reload();


            },
            error: function (xhr, status, error) {
                alert(xhr.responseText);
            },


        });


    }
    $(document).on("click", ".form-details-project", function () {

        var module = $(this).data('project');


        Object.keys(module).forEach(function (k1) {

            if (k1 == "dateCreation") {
                $("#" + k1 + "_details").html(formatDate(new Date(module.dateCreation.timestamp * 1000)));
            }
            else {
                $("#" + k1 + "_details").html(module[k1]);
            }

        });

        var images = module.images;


        $("#slider_details").html("<div id='myCarousel' class='carousel slide' data-ride='carousel' style='width: 80%'><div class='carousel-inner'><div class='item active '><img id='firstImageDetails' style='width:100%;'></div></div></div>");

        if (images.length > 0) {
            if (images.length > 1) {
                $("#myCarousel").append("<a class='left carousel-control' href='#myCarousel' data-slide='prev'><span class='glyphicon glyphicon-chevron-left'></span><span class='sr-only'>Previous</span></a><a class='right carousel-control' href='#myCarousel' data-slide='next'><span class='glyphicon glyphicon-chevron-right'></span><span class='sr-only'>Next</span></a>");
            }


            $("#firstImageDetails").attr('src', '{{ asset('/uploads/image/') }}{{ qouiqui.user.id }}/{{ qouiqui.id }}/Offres/' + module.id + '/' + images[0]);
            for (i = 1; i < images.length; i++) {

                $(".carousel-inner").append(" <div class='item'> <img id='details_image_slide" + i + "' style='width:100%;'> </div>")
                $("#details_image_slide" + i).attr('src', '{{ asset('/uploads/image/') }}{{ qouiqui.user.id }}/{{ qouiqui.id }}/Offres/' + module.id + '/' + images[i]);
            }
        }
        else {


            $("#firstImageDetails").attr('src', '{{ asset('/uploads/image/Architecture/Project/project.png') }}');


        }

    });
    function changeImageProjectDetails(index, images, moduleId) {


        var indexNext = 0;


        if (index < imagesArray.length - 1) {

            indexNext = parseInt(index) + 1;

        }
        else {
            indexNext = 0;
        }

        $("#next_image_project").attr("onclick", "changeImageProjectDetails(" + indexNext + ",\"" + images + "\"," + moduleId + ")");
    }


</script>