{% block javascripts %}
    <script>
        $(".spa-service").click(function () {
            var styles = {
                border: "1px solid #e3e3e3",
            };
            $('#otherServices').css(styles);
            $('.errormsg').html("");
            $('#otherServices').val('');
            $('#otherServices').hide();
            $('#serviceselect').css(styles);
            $('#serviceselect').val('');
            $("#addServices").prop('disabled', false);
            $("#serviceselect option:disabled").remove();
//            $('#serviceselect').prepend('<option ></option>');
            $('#serviceselect').prepend('<option disabled selected  >Sélectionner un service*</option>');

        });

    </script>

    <script>

        $('.edit').click(function () {
            var styles = {
                border: "1px solid #e3e3e3",
            };

            $('#serviceselect-edit').css(styles);
            $('#autreServices').css(styles);
            $('.errormsg').html("");
            $('#autreServices').val('');
            $('#autreServices').hide();
            $("#editServices").prop('disabled', false);

            var idqq = $(this).attr('data-id');
            var idserv = $(this).attr('data-serv');

            var data = {
                idqq: idqq,
                idserv: idserv,

            };

            $.ajax({
                url: '{{ path('module_spa_get_json_spa') }}',
                data: data,
                type: "POST",
                success: function (data) {

                    var arr = [];
                    json = JSON.stringify(eval('(' + data + ')')); //convert to json string
                    arr = $.parseJSON(json);
                    console.log(arr);
                    $("#idservs").val(arr.idserv);
                    $("#Spa-serv").val(arr.ServSpa);
                    $("#serviceicon").val(arr.serviceIcon);
                    $("#details").val(arr.detail);
                    $(".seticon").html(arr.serviceIcon);
                    $('#seticon').attr('src', arr.serviceIcon);

                    $("#serviceselect-edit [value='" + arr.ServSpa + "']").prop("selected", true);
                    var sellected = $('#serviceselect-edit').val();


                    $('#serviceselect-edit').change(function () {
                        console.log(sellected);

                        $("#editServices").prop('disabled', false);
                        var styles = {
                            border: "1px solid #e3e3e3",
                        };
                        $('#serviceselect-edit').css(styles);
                        $('.errormsg').html("");


                        var item = $('#serviceselect-edit option:selected').val();


                        $.each(ListFromBase, function (index, value) {
                            if (item === value && value != sellected) {
                                $('.errormsg').html(" ce service  existe  déjà");
                                $('#serviceselect-edit').css('border', 'solid 2px red');
                                $("#editServices").prop('disabled', true);
                            }


                        });


                    });


                }


            });

        });
    </script>
    <script>
        $('.click-off').click(function () {
            // escape here if the confirm is false;
            if (!clickOffConfirmed) return false;
            var btn = this;
            setTimeout(function () {
                $(btn).attr('disabled', 'disabled');
            }, 1);
            return true;
        });
    </script>
    <script>

        $('#serviceselect').on('change', function () {

            if ($(this).val() == "autre") {

                $("#otherServices").show();
                console.log($(this).val());

            }
            else {
                $("#otherServices").hide();
            }
        });
    </script>

    <script>

        $('.selectOption').on('change', function () {


            if ($(this).val() == "autre") {

                $(".otherSelected").show();
                console.log($(this).val());

            }
            else {
                $(".otherSelected").hide();
            }
        });
    </script>

    <script>

        $('#equipementselect').on('change', function () {

            if ($(this).val() == "autre") {

                $("#otherequipement").show();
                console.log($(this).val());

            }
            else {
                $("#otherequipement").hide();
            }
        });
    </script>
    <script>


        myList = [];

        $("#serviceselect option ").each(function () {

            myList.push($(this).val())

        });

        var typingTimer;
        var doneTypingInterval = 1000;
        typingTimer = setTimeout(function () {
            $('.errormsg').html("");
            $('#otherServices').keyup(function () {
                var autre = $('#otherServices').val();
                $.each(myList, function (index, value) {
                    if (($('#otherServices').val()) === value.toLowerCase()) {

                        $('.errormsg').html(" ce service est déjà existe");
                        $('#otherServices').css('border', 'solid 2px red');
                        $("#addServices").attr('disabled', 'disabled');
                    }
                    else if ($('#otherServices').val() == '') {

                        var styles = {
                            border: "initial",
                        };

                        $('#otherServices').css(styles);
                        $('.errormsg').html("");
                        $("#addServices").prop('disabled', false);
                    }


                });
            });
        }, doneTypingInterval);


    </script>
    <script>
        ListFromBase = [];
        $("#service_enrolled option ").each(function () {

            ListFromBase.push($(this).val())

        });
        console.log(ListFromBase);
        $('#serviceselect').click(function () {
            var styles = {
                border: "1px solid #e3e3e3",
            };


            $('.selectOption').css(styles);
            $('.errormsg').html("");
            $("#addServices").prop('disabled', false);


            var item = $('#serviceselect option:selected').val();


            $.each(ListFromBase, function (index, value) {
                if (item === value) {
                    console.log(value + "aaaa");

                    $('.errormsg').html(" ce service  existe  déjà");
                    $('.selectOption').css('border', 'solid 2px red');
                    $("#addServices").attr('disabled', 'disabled');
                }


            });


        });


    </script>
    <script>
        $('form#addserv').submit(function (e) {


            if ($('#otherServices').val()) {
                var autre = $('#otherServices').val();
                $('select').prepend('<option  value=  "' + autre + '" >' + $('#otherServices').val() + '</option>');

                $("#serviceselect [value='" + autre + "']").attr("selected", "selected");
                $("#otherServices").val('');
                $("#otherServices").hide();
            }

            var item = $('#serviceselect option:selected').val();
            if (item === 'autre') {
                e.preventDefault();
                alert('ajouter un  service ou bien choisir un autre de la liste');
            }


        });
    </script>

    <script>
        $('form#addevent').submit(function (e) {


            if ($('#otherequipement').val()) {
                var autre = $('#otherequipement').val();
                $('select').prepend('<option  value=  "' + autre + '" >' + $('#otherequipement').val() + '</option>');

                $("#equipementselect [value='" + autre + "']").attr("selected", "selected");
                $("#otherequipement").val('');
                $("#otherequipement").hide();
            }

            var item = $('#equipementselect option:selected').val();
            if (item === 'autre') {
                e.preventDefault();
                alert('ajouter un  service ou bien choisir un autre de la liste');
            }


        });
    </script>
    {#<script>#}


    {#$('#serviceselect-edit').change(function () {#}


    {#$("#editServices").prop('disabled', false);#}
    {#var styles = {#}
    {#border: "1px solid #e3e3e3",#}
    {#};#}
    {#$('#serviceselect-edit').css(styles);#}
    {#$('.errormsg').html("");#}


    {#var item = $('#serviceselect-edit option:selected').val();#}


    {#$.each(ListFromBase, function (index, value) {#}
    {#if (item === value) {#}
    {#$('.errormsg').html(" ce service  existe  déjà");#}
    {#$('#serviceselect-edit').css('border', 'solid 2px red');#}
    {#$("#editServices").prop('disabled', true);#}
    {#}#}


    {#});#}


    {#});#}


    {#</script>#}
    <script>
        nb = 1;
        $("#load-more-service").click(function () {

            item = "";

            id ={{ qouiqui.id }};
            $.ajax({
                url: '/module/spa/paginates/' + nb + '/' + id,
                method: 'post',

                success: function (data) {
                    console.log(data);
                    var service = JSON.parse(data);
                    if (service.length > 0) {
                        for (i = 0; i < service.length; i++) {
                            console.log(service[i]['idserv']);

                            item += '<a data-toggle="modal" data-target="#Show_more" data-idqq="' + id + '" data-idServ="' + service[i]['idserv'] + '"  class="  lire_plus">\n' +
                                '<div class=" col-md-4 col-sm-4 top40 item-id-' + service[i]['idserv'] + ' item-scroll col-custom" style="min-height: 380px;">\n' +
                                '<div class="block-service margin15 pad15" style="background: white;height: 392px;">\n' +
                                '<div class="row">\n' +
                                '<div class="col-md-12 text-center">\n' +
                                '<span class="icon-shortcode"> <img class="svg" width="80px" src="' + service[i]['serviceIcon'] + '" alt="" style="width: 128px;">\n' +
                                ' </span>\n' +
                                ' <i class="fa fa-medkit" aria-hidden="true" style="font-size: 50px;"></i>\n' +
                                '</div>\n' +

                                '<h3 class="serviceTitle text-center pad15">' + service[i]["ServSpa"] + '</h3>\n' +
                                '<div class="clearfix">\n' +
                                '<div class="separator" style="width: 100px;border-bottom-width: 2px; "></div>\n' +
                                '</div>\n' +
                                '<p class="service-text">'

                                + service[i]['detail'].slice(0, 60) +

                                '</p>\n' +
                                '</div>\n' +

                                ' <div class="row service pad15">\n' +
                                '<a data-toggle="modal" data-target="#Show_more"  data-idqq="' + id + '" data-idServ="' + service[i]['idserv'] + '" class="  lire_plus  btn-default btn-xs pull-right suite" >En savoir plus\n' + '</a>\n' +
                                '</div>\n' +
                                '</div>\n' +
                                '</div>\n' +
                                '</a>'
                        }

                        if (service.length < 3) {
                            $('#load-more-service').hide();
                        }
                        nb += 1;
                        $('#append-item').append(item).fadeIn();
                    }
                    else {
                        $('#load-more-service').hide();
                    }

                    $('.load-less-service').show();
                    var p = $(".item-scroll:last");
                    var offset = p.offset();
                    $('html body').animate({scrollTop: offset.top - 200}, 1500);
                }
                ,
                error: function (xhr, status, error) {
                    alert(xhr.responseText);
                }
                ,
            });

        })


    </script>
    <script>
        $('.load-less-service').click(function () {
            id ={{ qouiqui.id }};
            idp ={{ qouiqui.user.id }};
            idd = nb - 1;
            $.ajax({
                url: '/module/spa/moinspaginate/' + idd + '/' + id,
                method: 'post',
                success: function (data) {
                    console.log(data);
                    var service = JSON.parse(data);
                    var p = $(".item-scroll:first");
                    var offset = p.offset();
                    $('html body').animate({scrollTop: offset.top - 250}, 1500);
                    $('#load-more-service').show();
                    for (i = 0; i < service.length; i++) {
                        $(".item-id-" + service[i]['idserv']).hide("slow", function () {
                            setTimeout($(this).remove(), 1000);
                        });
                    }
                    nb -= 1;
                    verificationItem();
                }
            });
        });
        function verificationItem() {
            nombre = 0;
            $(".item-scroll").each(function () {
                nombre++;
            });
            if (nombre <= 6) {
                $('.load-less-service').hide();
            }
        }

        verificationItem();
    </script>
    <script>

        $('#section-services').on('click', '.lire_plus', function () {

            var idqq = $(this).attr('data-idqq');
            var idserv = $(this).attr('data-idServ');


            var data = {
                idqq: idqq,
                idserv: idserv,

            };
            console.log(idqq, idserv);
            $.ajax({
                url: '{{ path('module_spa_get_json_spa') }}',
                data: data,
                type: "POST",
                success: function (data) {
                    $('#idImgSpa').val(idserv);
                    var id = $('#idImgSpa').val();
                    $('#putImg').attr('src', '{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/service/' + id + "." + "jpg");

                    var arr = [];
                    json = JSON.stringify(eval('(' + data + ')')); //convert to json string
                    arr = $.parseJSON(json);
                    console.log(arr);
                    $("#servspa").html(arr.ServSpa);
                    $("#SpaServ").val(arr.ServSpa);
                    $('#lire_suite').html("");
//                    $("#Spadetail").html(arr.detail);
                    var length1 = (arr.detail).length;
                    console.log(length1);
                    if (length1 > 916) {
                        var str = (arr.detail).slice(0, 916);
                        console.log(str);
                        $('#Spadetail').html(str);
                        $('#link1').html("En savoir plus");

                        $('#lire_suite').html((arr.detail).slice(916, length1));


                    }
                    else {


                        $("#Spadetail").html(arr.detail);

                    }


                }
            });


        });
    </script>
    <script>
        $("#link1").click(function () {
            $("#link1").hide();

            $("#lire_suite").show();
        });
    </script>


    <script>
        ListFromBase1 = [];
        $("#equipementfrombase option ").each(function () {

            ListFromBase1.push($(this).val())

        });
        $('.edit-offre').click(function () {


            var idqq = $(this).attr('data-id');
            var idserv = $(this).attr('data-serv');

            var data = {
                idqq: idqq,
                idserv: idserv,

            };
            console.log(data);
            $.ajax({
                url: '{{ path('module_spa_get_json_offre') }}',
                data: data,
                type: "POST",
                success: function (data) {
                    var arr = [];
                    json = JSON.stringify(eval('(' + data + ')'));
                    arr = $.parseJSON(json);
                    console.log(arr);
                    $("#idEvent").val(arr.idOffre);
                    $("#equipementselect-edit [value='" + arr.ServSpa + "']").prop("selected", true);

                    $(".description-edit").val(arr.description);

                    var sellected = $('#equipementselect-edit').val();


                    $('#equipementselect-edit').change(function () {
                        console.log(sellected);

                        $("#editServices").prop('disabled', false);
                        var styles = {
                            border: "1px solid #e3e3e3",
                        };
                        $('#equipementselect-edit').css(styles);
                        $('.errormsg').html("");


                        var item = $('#equipementselect-edit option:selected').val();


                        $.each(ListFromBase1, function (index, value) {
                            if (item === value && value != sellected) {
                                $('.errormsg').html(" ce service  existe  déjà");
                                $('#equipementselect-edit').css('border', 'solid 2px red');
                                $("#editServices").prop('disabled', true);
                            }


                        });


                    });
                }
            });
        });
    </script>
    <script>
        ListFromBase2 = [];
        $("#equipementfrombase option ").each(function () {

            ListFromBase2.push($(this).val())

        });
        console.log(ListFromBase2);
        $('#equipementselect').click(function () {
            var styles = {
                border: "1px solid #e3e3e3",
            };


            $('.selectOption').css(styles);
            $('.errormsg').html("");
            $("#addequi").prop('disabled', false);


            var item = $('#equipementselect option:selected').val();


            $.each(ListFromBase2, function (index, value) {
                if (item === value) {
                    console.log(value + "aaaa");

                    $('.errormsg').html(" ce service  existe  déjà");
                    $('.selectOption').css('border', 'solid 2px red');
                    $("#addequi").prop('disabled', true);
                }


            });


        });


    </script>


    <script>


        myList2 = [];

        $("#equipementselect option ").each(function () {

            myList2.push($(this).val())

        });

        var typingTimer;
        var doneTypingInterval = 1000;
        typingTimer = setTimeout(function () {
            $('.errormsg').html("");
            $('#otherequipement').keyup(function () {
                var autre = $('#otherequipement').val();
                $.each(myList2, function (index, value) {
                    if (($('#otherequipement').val()) === value.toLowerCase()) {

                        $('.errormsg').html(" ce service est déjà existe");
                        $('#otherequipement').css('border', 'solid 2px red');
                        $("#addequi").prop('disabled', true);
                    }
                    else if ($('#otherequipement').val() == '') {

                        var styles = {
                            border: "initial",
                        };

                        $('#otherequipement').css(styles);
                        $('.errormsg').html("");
                        $("#addequi").prop('disabled', false);
                    }


                });
            });
        }, doneTypingInterval);


    </script>


    <script>

        $('.ShowEquipement').click(function () {


            var idqq = $(this).attr('data-qq');
            var idserv = $(this).attr('data-idevent');

            var data = {
                idqq: idqq,
                idserv: idserv,

            };
            console.log(data);
            $.ajax({
                url: '{{ path('module_spa_get_json_offre') }}',
                data: data,
                type: "POST",
                success: function (data) {
                    $('#idImgequipm').val(idserv);

                    var id = $('#idImgequipm').val();
                    $('#putImgEquip').attr('src', '{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/event/' + id + "." + "jpg");
                    {#$('#picture').css('background-image', "url({{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/event/' + id + '.' + 'jpg')") ;#}
                    var imageUrl = '{{ asset('uploads/image/') }}{{ iduser }}/{{ qouiqui.id }}/event/' + id + "." + "jpg";
                    $('#picture').css('background-image', 'url(' + imageUrl + ')');
                    var arr = [];
                    json = JSON.stringify(eval('(' + data + ')'));
                    arr = $.parseJSON(json);
                    console.log(arr);
                    $('#equipement').html(arr.ServSpa);
                    $('#equipdetail').html(arr.description);


                }
            });
        });
    </script>
    <script>

        $(".buttoncall-us").click(function () {
            $(this).hide();
            $(".phonenumber").show();
        });
        $("#buttoncall").click(function () {
            $(this).hide();
            $(".phonenumber1").show();
        });
    </script>

{% endblock %}
<style>
    .phonenumber  {
        display: none;
    }
    .phonenumber1  {
        display: none;
    }
    #otherServices {
        display: none;
    }

    #otherequipement {
        display: none;
    }

    input.error {
        border: 2px solid red;
    }

    @media (max-width: 992px) {

        h3 {
            font-size: 15px !important;
        }
    }

    .spacontact {
        background: #e96656;
        font-size: 22px;
        border: 1px solid #e96656;
        padding: 10px;
        border-radius: 1px;
        color: #f5f5f5;
        text-align: center;
    }

    .spacontact:hover {
        background: #e96656;
        /*font-size: 22px;*/
        border: 1px solid #e96656;
        padding: 10px;
        border-radius: 1px;
        color: #f5f5f5;
        text-align: center;
    }

    @media (max-width: 425px) {
        .spacontact {
            background: #e96656;
            /*font-size: 14px;*/
            border: 1px solid #e96656;
            padding: 10px;
            border-radius: 1px;
            color: #f5f5f5;
            margin-bottom: 4px;
            text-align: center;
        }
    }

    .spacontact1 {
        background: #5dc560;
        font-size: 22px;
        border: 1px solid #5dc560;
        padding: 10px;
        border-radius: 1px;
        color: #f5f5f5;
        text-align: center;
    }

    .spacontact1:hover {
        background: #5dc560;
        /*font-size: 22px;*/
        border: 1px solid #5dc560;
        padding: 10px;
        border-radius: 1px;
        color: #f5f5f5;
        text-align: center;
    }

    @media (max-width: 425px) {
        .spacontact1 {
            background: #5dc560;
            /*font-size: 14px;*/
            border: 1px solid #5dc560;
            padding: 10px;
            border-radius: 1px;
            color: #f5f5f5;
            margin-bottom: 4px;
            text-align: center;
        }
    }

    @media (max-width: 425px) {
        .float {
            float: left;
        }
    }

    #news-section-1 .blog_info {
        background: #f5f8fa;
        min-height: 178px;
        padding: 10px 11px 27px;
        width: 100%;
    }

    #lire_suite {
        display: none;
    }

    .G_titre {
        font-weight: 500;
        text-align: justify;
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
    }

    .load-less-service {
        display: none;
    }

    .image-content-offre {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center;

    }

    .blog_info .archieves li a {
        color: #435061 !important;
        font-size: 20px !important;
        text-transform: none;

    }

    .blog_info .archieves li {
        border-bottom: 1px dashed rgba(49, 99, 156, 0.55);
        list-style: outside none none;
        margin: 0;
        padding: 10px 0;
    }

    .blog_info .archieves li i {
        color: #ed2a28;

        font-size: 36px !important;
        margin-right: 25px;

    }

    .span_font_size {
        font-size: 20px;

    }

    @media (min-width: 992px) {
        #picture {

            float: left;

        }

    }

    #news-section-1 img, .inner-page-left-sidebar img {
        height: inherit;
    }

    @media (max-width: 768px) {
        #news-section-1 .blog_info {
            margin-top: 15px;
            background: #f5f8fa;
            min-height: 178px;
            padding: 41px 11px 27px;
            width: 100%;
        }
    }

    @media (max-width: 425px) {
        .blog_info .archieves li a {
            color: #435061 !important;
            font-size: 14px !important;
            text-transform: none;

        }

        .blog_info .archieves li i {
            color: #ed2a28;

            font-size: 25px !important;
            margin-right: 25px;

        }
    }

    .intro .zelected {
        font-weight: normal;
        height: 40px;
        padding-left: 15px;
        padding-top: 9px;
        color: #333;
    }

    @media (max-width: 991px) {
        .center-text {
            text-align: center;

        }

        .margin115 {
            margin: 0;
        }

    }

    .margin115 {
        margin: -115px;
    }

    @media (min-width: 992px) {
        .row-eq-height {
            display: flex;
            align-items: center;
        }
    }

    #news-section-1 .blog-thumbnail {
        float: left;
        margin-bottom: 0;
        max-width: 100%;
    }

    .modal-content > .close {
        margin-top: -9px !important;
        margin-right: -11px;
        background: red;
        border: solid 1px #de2525;
        border-radius: 100%;
        width: 26px;
        height: 26px;
        opacity: 1;
        color: white;
    }

    @media (max-width: 768px) {
        .modal-content > .close {
            margin-top: 0px !important;
        }
    }

    @-webkit-keyframes clignote {
        0% {
            box-shadow: 0px 0px 10px #e5274b;
        }
        50% {
            box-shadow: 0px 0px 0px #e5274b;
        }
        100% {
            box-shadow: 0px 0px 10px #e5274b;
        }
    }

    .floating-button a {
        position: fixed;
        top: 50%;
        /*right:0;*/
        border: 1px solid #e5274b;
        background-color: #e5274b;
        color: #fff;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        right: -78px !important;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;

        font-size: 18px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-align: center;
        width: 211px;
        z-index: 99999;
        box-shadow: 0px 0px 10px #4183C4;

        -webkit-animation-name: clignote;
        -webkit-animation-duration: 1s;
        -webkit-animation-iteration-count: infinite;
    }

    @media (max-width: 991px) {
        .floating-button a {
            position: fixed;
            top: 50%;
            /*right:0;*/
            border: 1px solid #e5274b;
            background-color: #e5274b;
            color: #fff;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            right: -73px !important;
            border-top-left-radius: 25px;
            border-top-right-radius: 25px;

            font-size: 15px;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            width: 173px;
            z-index: 99999;

        }

    }

    @media (min-width: 320px) and (max-width: 425px ) {
        .margin-bottom-button {

            margin-bottom: -6px;
        }
    }

    .blog_info .archieves li:last-child {
        border-bottom: none;
    }

    @media (min-width: 426px) and (max-width: 786px) {
        .xs-btn-top {
            margin-top: 6px;
        }
    }

    .buttn {
        text-transform: capitalize;
        display: inline-block;
        font-size: 20px;
        text-decoration: none !important;
        padding: 11px 25px;
        line-height: 1;
        overflow: hidden;
        position: relative;
        box-shadow: 0 1px 1px #ccc;
        border-radius: 2px;
    }

    @media (max-width: 768px) {

        .buttn-width-xs {
            width: 100% !important;
        }
    }

    .image-content2 {
        /*width:370px;*/
        /*height:200px;*/
        /*background-size:cover;*/
        /*background-position: center;*/
        width: 319px;
        height: 228px;
        background-size: cover;
        background-position: center;

    }

    .proerty_content .favroute-bottom {
        border-top: 1px solid #e5e5e5;
    }

    .image-content-cf-serv {
        width: auto;
        height: 200px;
        background-size: cover;
        background-position: center;
    }

    @media (max-width: 380px) {
        .image-content-cf-serv {
            width: auto;
            height: 121px;
            background-size: cover;
            background-position: center;
        }
    }
    @media (min-width: 500px) and (max-width: 786px) {
        .image-content-cf-serv {
            width: auto;
            height: 100px;
            background-size: cover;
            background-position: center;
        }

        .margin15 {
            margin: -1px;
        }
        .block-service.margin15.pad15{
            min-height: 323px!important;
        }
    }

    @media (max-width: 768px){

        .modal-header .close {
            margin-top: -19px !important;
            margin-right: -16px !important;
            border-radius: 0px 14px 0px 0px !important;
            width: 30px !important;
            height: 30px !important;
        }
    }
</style>