<section class="testimonials-section" id="testimonials-section"
         style="background-image:url(module/immobiliair/images/background/testimonials-bg.jpg);">
    <div class="auto-container">

        <div class="sec-title">
            <h2>WHAT <span class="theme_color">CLIENT</span> SAY</h2>
            <div class="separator small-separator"></div>
            <div class="text"><p>There are many variations of passages of Lorem Ipsum available, but the majority
                    have suffered alteration in some form, by injected humour, or randomised words </p></div>
        </div>

        <!--Slider-->
        <div class="testimonials-slider column-carousel three-column">

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-1.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Jack Willshere</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-2.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Missar Hub</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-3.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-1.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Jack Willshere</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-2.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Missar Hub</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-3.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-1.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Jack Willshere</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-2.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Missar Hub</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>

            <!--Slide-->
            <article class="slide-item">
                <figure class="image-box"><img
                            src="{{ asset('module/immobiliair/images/resource/testi-image-3.jpg') }}" alt="">
                </figure>
                <div class="info-box">
                    <h3>Mark Pine</h3>
                    <p class="designation">Co- Founder at Houzz</p>
                </div>

                <div class="slide-text">
                    <p>“We know that sometimes it’s difficult to get to the phone if you are in the middle of
                        something and you don’t want to miss.”</p>
                </div>
            </article>


        </div>

    </div>
</section>