<html lang="en-US">


<!-- Mirrored from demos.megawpthemes.com/arkitekt/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 19 Jul 2017 14:30:02 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8"/><!-- /Added by HTTrack -->
<head>


    <meta charset="utf-8">

    <title>

        Architecture
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link type="text/css" href="{{ asset('module/Architecture/css/bootstrap-timepicker.min.css') }}"/>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ asset('module/Architecture/js/bootstrap-timepicker.min.js') }}"></script>

    {#<!-- Latest compiled JavaScript -->#}


    <link rel='dns-prefetch' href='http://fonts.googleapis.com/'/>
    <link rel='dns-prefetch' href='http://s.w.org/'/>
    <link rel="alternate" type="application/rss+xml" title="Arkitekt &raquo; Feed" href="feed/index.html"/>
    <link rel="alternate" type="application/rss+xml" title="Arkitekt &raquo; Comments Feed" href="comments/feed/index.html"/>
    <link rel="alternate" type="application/rss+xml" title="Arkitekt &raquo; HOME Comments Feed" href="home/feed/index.html"/>
    <link rel='stylesheet' id='jquery.bxslider-css' href='{{ asset('module/Architecture/css/jquery.bxslider5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='jquery.fancybox-1.3.4-css' href='{{ asset('module/Architecture/css/jquery.fancybox-1.3.45152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='jquery-ui-css' href='{{ asset('module/Architecture/css/jquery-ui5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <script type='text/javascript' src='{{ asset('module/Architecture/js/jqueryb8ff.js?ver=1.12.4') }}'></script>
    <script type='text/javascript' src='{{ asset('module/Architecture/js/jquery-migrate.min330a.js?ver=1.4.1') }}'></script>
    <script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.themepunch.tools.min4ee1.js?ver=5.3.1.5') }}'></script>
    <script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.themepunch.revolution.min4ee1.js?ver=5.3.1.5') }}'></script>
    <script type="text/javascript" src="{{ asset('module/Architecture/js/revolution.extension.video.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('module/Architecture/js/revolution.extension.slideanims.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('module/Architecture/js/revolution.extension.layeranimation.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('module/Architecture/js/revolution.extension.navigation.min.js') }}"></script>

    <link href='http://fonts.googleapis.com/css?family=Play:400,700&amp;subset=latin,greek-ext,greek,latin-ext,cyrillic,cyrillic-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/2.2.1\/svg\/", "svgExt": ".svg", "source": {"concatemoji": "http:\/\/demos.megawpthemes.com\/arkitekt\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.7.1"}};
        !function (a, b, c) {
            function d(a) {
                var b, c, d, e, f = String.fromCharCode;
                if (!k || !k.fillText)return !1;
                switch (k.clearRect(0, 0, j.width, j.height), k.textBaseline = "top", k.font = "600 32px Arial", a) {
                    case"flag":
                        return k.fillText(f(55356, 56826, 55356, 56819), 0, 0), !(j.toDataURL().length < 3e3) && (k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 65039, 8205, 55356, 57096), 0, 0), b = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55356, 57331, 55356, 57096), 0, 0), c = j.toDataURL(), b !== c);
                    case"emoji4":
                        return k.fillText(f(55357, 56425, 55356, 57341, 8205, 55357, 56507), 0, 0), d = j.toDataURL(), k.clearRect(0, 0, j.width, j.height), k.fillText(f(55357, 56425, 55356, 57341, 55357, 56507), 0, 0), e = j.toDataURL(), d !== e
                }
                return !1
            }

            function e(a) {
                var c = b.createElement("script");
                c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c)
            }

            var f, g, h, i, j = b.createElement("canvas"), k = j.getContext && j.getContext("2d");
            for (i = Array("flag", "emoji4"), c.supports = {everything: !0, everythingExceptFlag: !0}, h = 0; h < i.length; h++)c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]);
            c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () {
                c.DOMReady = !0
            }, c.supports.everything || (g = function () {
                c.readyCallback()
            }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () {
                "complete" === b.readyState && c.readyCallback()
            })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji)))
        }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='rs-plugin-settings-css' href='{{ asset('module/Architecture/css/settings4ee1.css?ver=5.3.1.5') }}' type='text/css' media='all'/>
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='google_fonts-css' href='http://fonts.googleapis.com/css?family=Roboto%3A400%2C300%2C100%2C500%2C400italic%2C300italic%2C100italic%2C500italic%2C700%2C700italic%2C900%2C900italic&amp;ver=4.7.1' type='text/css' media='all'/>
    <link rel='stylesheet' id='google_fonts_2-css' href='http://fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C700italic%2C800italic%2C400%2C300%2C600%2C700%2C800&amp;ver=4.7.1' type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome-css' href='{{ asset('module/Architecture/css/font-awesome.min0147.css?ver=4.12') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='fullwidth-css' href='{{ asset('module/Architecture/css/fullwidth5152.css?ver=1.0') }}' type='text/css' media='all'/>

    <link rel='stylesheet' id='revslider-css' href='{{ asset('module/Architecture/css/revslider5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='style-css' href='{{ asset('module/Architecture/css/style5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='dr-framework-css' href='{{ asset('module/Architecture/css/dr-framework5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='main_color-css' href='{{ asset('module/Architecture/css/color5152.css?ver=1.0') }}' type='text/css' media='all'/>
    <link rel='stylesheet' id='js_composer_front-css' href='{{ asset('module/Architecture/css/js_composer.min0147.css?ver=4.12') }}' type='text/css' media='all'/>

    <link rel='https://api.w.org/' href='{{ asset('module/Architecture/wp-json/index.html') }}'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="{{ asset('module/Architecture/html/xmlrpc0db0.html?rsd') }}"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="{{ asset('module/Architecture/xml/wlwmanifest.xml') }}"/>
    <meta name="generator" content="WordPress 4.7.1"/>
    <link rel="canonical" href="index.html"/>
    <link rel='shortlink' href='index.html'/>
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embedbad9.json?url=http%3A%2F%2Fdemos.megawpthemes.com%2Farkitekt%2F"/>
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embed78b9?url=http%3A%2F%2Fdemos.megawpthemes.com%2Farkitekt%2F&amp;format=xml"/>
    <script type="text/javascript"> if (ajaxurl === undefined) var ajaxurl = "wp-admin/admin-ajax.html";</script>
    <style type="text/css">
        ._demo_button {
            display: none !important;
        }        </style>

    <style type="text/css">.recentcomments a {
            display: inline !important;
            padding: 0 !important;
            margin: 0 !important;
        }</style>
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="http://demos.megawpthemes.com/arkitekt/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><!--[if IE  8]>
    <link rel="stylesheet" type="text/css" href="http://demos.megawpthemes.com/arkitekt/wp-content/plugins/js_composer/assets/css/vc-ie8.min.css" media="screen"><![endif]-->
    <meta name="generator" content="Powered by Slider Revolution 5.3.1.5 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."/>

    <noscript>
        <style type="text/css"> .wpb_animate_when_almost_visible {
                opacity: 1;
            }</style>
    </noscript>


</head>


<body class="home page-template page-template-tpl-vc page-template-tpl-vc-php page page-id-25 page-parent wpb-js-composer js-comp-ver-4.12 vc_responsive">


<div id="container" class="">


    {{ include('ModuleBundle:Module:architecture/header.html.twig') }}

    {{ include('ModuleBundle:Module:architecture/slider.html.twig') }}
    {{ include('ModuleBundle:Module:architecture/about.html.twig') }}
    {{ include('ModuleBundle:Module:architecture/services.html.twig') }}
    {{ include('ModuleBundle:Module:architecture/team.html.twig') }}

    {{ include('ModuleBundle:Module:architecture/projects.html.twig') }}



    {{ include('ModuleBundle:Module:architecture/footer.html.twig') }}


</div>


<script type="text/javascript">
    function revslider_showDoubleJqueryError(sliderID) {
        var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
        errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
        errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
        errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
        errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
        jQuery(sliderID).show().html(errorMessage);
    }
</script>


<script type='text/javascript' src='{{ asset('module/Architecture/js/accordion5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.imagesloaded.min5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.isotope.min5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.fancybox-1.3.4.pack5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.superfish5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.flexslider5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.bxslider5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/fullwidthbanner5152.html?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.carouFredSel-6.2.1-packed5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.mousewheel.min5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jquery.touchSwipe.min5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/jflickrfeed.min5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/script5152.js?ver=1.0') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/comment-reply.min6996.js?ver=4.7.1') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/wp-embed.min6996.js?ver=4.7.1') }}'></script>
<script type='text/javascript' src='{{ asset('module/Architecture/js/dist/js_composer_front.min0147.js?ver=4.12') }}'></script>
<script>


    function readURLService(input) {


        if (input.files && input.files[0]) {

            var reader = new FileReader();

            reader.onload = function (e) {

                $(".uploaded_image_service_team").html("<tr>" +
                    "<td>" +
                    "<img class='image_service' style='width: 100%' src='#' />" +
                    "</td>" +
                    "<td>" +
                    "<a  class='btn btn-default' onclick='deleteNewServiceTeamImage()'>Supprimer</a></td></tr>");

                $('.image_service').attr('src', e.target.result);


            }

            reader.readAsDataURL(input.files[0]);
        }

    }
    $('.fileInputServiceTeam').change(function () {

        $(".upload_image_service_team").show();
        $(".uploaded_image_service_team").empty();

        readURLService(this);
    });


    function deleteNewServiceTeamImage() {

        $(".deletetedImage").val("true");

        $(".fileInputServiceTeam").val('');

        $(".upload_image_service_team").hide();
    }

</script>
<script type='text/javascript'
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBabWKVmMpB5ZVqYN2H2ubUXTITp9k5fuc&v=3.20&#038;libraries=places&#038;language=fr&#038;ver=4.4.1'></script>
<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
//            alert("Geolocation is not supported by this browser.");
        }
    }

    function showPosition(position) {
//        $('#origin').val(position.coords.latitude + "," + position.coords.longitude);
        geo = position.coords.latitude + "," + position.coords.longitude;
        $('#origin').val(position.coords.latitude + "," + position.coords.longitude);
        return geo;
    }
</script>
<!--{#============map iteneraire==============#}-->
<script>
    var map;
    var panel;
    var initialize;
    //    var calculate;
    var direction;
    style = [
        {
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "elementType": "labels.icon",
            "stylers": [
                {
                    "visibility": "off"
                }
            ]
        },
        {
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "elementType": "labels.text.stroke",
            "stylers": [
                {
                    "color": "#f5f5f5"
                }
            ]
        },
        {
            "featureType": "administrative.land_parcel",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#bdbdbd"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "poi",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "poi.park",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "road",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#ffffff"
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#757575"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#dadada"
                }
            ]
        },
        {
            "featureType": "road.highway",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#616161"
                }
            ]
        },
        {
            "featureType": "road.local",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        },
        {
            "featureType": "transit.line",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#e5e5e5"
                }
            ]
        },
        {
            "featureType": "transit.station",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#eeeeee"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "geometry",
            "stylers": [
                {
                    "color": "#c9c9c9"
                }
            ]
        },
        {
            "featureType": "water",
            "elementType": "labels.text.fill",
            "stylers": [
                {
                    "color": "#9e9e9e"
                }
            ]
        }
    ];

    initialize = function () {

        var latLng = new google.maps.LatLng({{ qouiqui.geoLat }},{{ qouiqui.geoLong }}); // Correspond au coordonnées de Lille

        var myOptions = {
            zoom: 11,
            center: latLng,
            mapTypeId: google.maps.MapTypeId.TERRAIN, // Type de carte, différentes valeurs possible HYBRID, ROADMAP, SATELLITE, TERRAIN
            maxZoom: 20,
//            styles: style,
            scrollwheel: false

        };

        map2 = new google.maps.Map(document.getElementById('map-container'), myOptions);
        //map.setOptions({styles: style2});


        panel = document.getElementById('panel');
        var marker = new google.maps.Marker({
            position: latLng,
            map: map2,
            icon: 'https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678111-map-marker-32.png',
            title: "Lille",
        });

        var contentMarker = [].join('');
        var infoWindow = new google.maps.InfoWindow({
            content: contentMarker,
            position: latLng
        });
        google.maps.event.addListener(marker, 'click', function () {
            infoWindow.open(map2, marker);
        });
        google.maps.event.addListener(infoWindow, 'domready', function () { // infoWindow est biensûr notre info-bulle
            jQuery("#tabs").tabs();
        });
        direction = new google.maps.DirectionsRenderer({
            map: map2,
            panel: panel // Dom element pour afficher les instructions d'itinéraire
        });
    };
    function calculate(origin) {
        origin = origin; // Le point départ
        destination = document.getElementById('destination').value; // Le point d'arrivé
        console.log("origin : " + origin, "destination : " + destination);
        if (origin && destination) {
            var request = {
                origin: origin,
                destination: destination,
                travelMode: google.maps.DirectionsTravelMode.DRIVING // Mode de conduite
            }
            var directionsService = new google.maps.DirectionsService(); // Service de calcul d'itinéraire
            directionsService.route(request, function (response, status) { // Envoie de la requête pour calculer le parcours
                if (status == google.maps.DirectionsStatus.OK) {
                    direction.setDirections(response); // Trace l'itinéraire sur la carte et les différentes étapes du parcours
                }
            });
        }
        jQuery("#ite").show();
    }
    ;
    initialize();
    function geoLocate() {

        if ($('#origin').val().length !== 0) {
            calculate($('#origin').val())
        } else {
            ori = true;
            if (navigator.geolocation && ori) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    var geolocation = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude
                    };
                    geo = position.coords.latitude + ',' + position.coords.longitude;
                    $('#origin').val(position.coords.latitude + ',' + position.coords.longitude).show('slow', calculate(geo));
                });
            }
        }

        ;
    }
</script>

<script type="text/javascript">


    (function ($) {
        "use strict";
        // ITEM DETAIL PAGE MAP FUNCTION STARTED --------------------------------------------------------------------------------------------
        $.pfitemdetailpagemap = function () {
            $(function () {
                var inputMyLocation = document.getElementById("origin");
                $("#origin").bind("keypress", function (e) {
                    if (e.keyCode == 13) {
                        e.preventDefault();
                        return false;
                    }
                });
                var autocomplete = new google.maps.places.Autocomplete(inputMyLocation);
                google.maps.event.addListener(autocomplete, "place_changed", function () {
                    var place = autocomplete.getPlace();
                    if (!place.geometry) {
                        return;
                    }
                    console.log(place);
                });

            });
        };
        // LOAD MAP STARTED --------------------------------------------------------------------------------------------
        $(function () {
            $.pfitemdetailpagemap();
            // End
        });
        // GET DIRECTION BUTTON PRESSED END --------------------------------------------------------------------------------------------

    })(jQuery);
    function geolocate() {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var geolocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                $('#originMobile').val(position.coords.latitude + ',' + position.coords.longitude).show('fast', calculateMobile);
            });
        }
    }

</script>

</body>
</html>